<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Trang chủ</title>

    <!-- Favicon -->
    <link rel="icon" href="../resource/logo1.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../resource/css/style.css">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="../resource/css/responsive.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

</head>

<body class="light-version">



    <!-- ##### Header Area Start ##### -->
    <header class="header-area wow fadeInDown" data-wow-delay="0.2s">
        <div class="classy-nav-container oitc-dark-theme dark breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="dreamNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index-2.html"><img src="../resource/logo.png" alt="logo"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="main.html">Home</a>
                                </li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="product.html">Product & Solution</a></li>
                                <li><a href="services.html">Service</a></li>
                                <li class="cn-dropdown-item has-down pr12"><a href="#blog">News</a>
                                    <ul class="dropdown">
                                        <li><a href="blog.html">OITC News</a></li>
                                        <li><a href="share.html">OITC Experience </a></li>
                                    </ul>
                                    <span class="dd-trigger"></span><span class="dd-arrow"></span>
                                </li>
                                <li><a href="#footer">Contact</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Welcome Area Start ##### -->
    <div class="breadcumb-area clearfix dzsparallaxer auto-init mode-scroll animation-engine-js dzsprx-readyall" data-options="{direction: &quot;normal&quot;}">
        <div class="divimage dzsparallaxer--target" style="width: 100%; height: 100%; background-image: url(&quot;../resource/17927.jpg&quot;); transform: translate3d(0px, -84.5495px, 0px);"></div>
        <!-- breadcumb content -->
        <div class="breadcumb-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                            <h2 class="w-text title wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">News Details</h2>
                            <ol class="breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                <li class="breadcrumb-item"><a href="main.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="blog.html">News</a></li>
                                <li class="breadcrumb-item active" aria-current="page">News Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Welcome Area End ##### -->

    <div class="clearfix"></div>

    <section class="blog-area section-padding-150-0">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-9">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="../resource/2.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">

                            <div class="oitc-dots mt-30">
                                <span></span><span></span><span></span><span></span><span></span>
                            </div>
                            <h4 class="post-title">How to become a successful businessman.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad voluptas tempora inventore minima consectetur fugit deserunt neque modi, culpa atque fugiat unde amet quidem, at corrupti dignissimos repudiandae, totam sapiente.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita fugit eum doloribus iste voluptatum perferendis dolorem qui! Vel magnam provident, laudantium voluptates sit, sint iure sunt harum distinctio ab, aliquam est
                                voluptas minus id explicabo illum odio? Officia omnis minima similique, eveniet eos. Rem itaque laboriosam quas est omnis, mollitia possimus eveniet. Veritatis nihil, aliquid quisquam, laborum quis ut rem repellendus animi
                                repellat, alias suscipit nostrum incidunt. Quis, quas.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque necessitatibus laborum eveniet eaque laboriosam in officia reprehenderit quas itaque numquam sit ipsum libero consequuntur quia non quod esse rem corporis vero,
                                consequatur nam, labore. Assumenda dolores possimus voluptatem deleniti, ipsa doloribus voluptatibus adipisci, ex voluptatum doloremque perspiciatis sunt. A earum natus quisquam deserunt nulla saepe, cumque, distinctio
                                fuga animi dignissimos. Fuga, autem. Rem eveniet animi repellendus voluptatibus officiis sit cum doloremque dolorem labore maxime, ipsa cumque deleniti distinctio tempora vitae eos debitis. Voluptatum enim in ab facilis
                                sapiente, quidem numquam, maxime ex veritatis assumenda, accusamus similique.</p>
                            <blockquote>
                                <h5>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, vero excepturi repellendus quae ipsum. Cum totam cumque quis eveniet saepe nisi.</h5>
                                <span>- Nazrul, CEO OUR COMPANY</span>
                            </blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi earum dolores sed pariatur molestias, aliquid eligendi, non consequatur quisquam repudiandae debitis numquam? Eligendi nostrum laborum, labore minima
                                quaerat at eius tempora quos numquam dolores cum cupiditate voluptates necessitatibus, quis esse, ea. Tempora excepturi quia magnam itaque consequuntur iusto, dolore, nulla omnis, doloremque magni, amet pariatur! Maxime
                                libero temporibus, soluta, qui veniam laudantium cupiditate corporis similique! Consectetur rerum, fuga! Quia nam fuga magnam quas aliquam in, saepe beatae. Culpa soluta, rerum id ex voluptate veniam maxime odit ad modi
                                odio, molestiae est deserunt assumenda voluptatibus fuga accusamus placeat a quam!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur commodi expedita accusantium sapiente culpa rem vel voluptas soluta error adipisci doloremque corporis inventore molestias architecto, iusto tempora rerum.
                                Molestias tempora possimus ea, cumque culpa corrupti dolor harum, alias, voluptatem at ex laborum excepturi iusto asperiores optio suscipit consectetur quis quos dolorum deleniti dicta aut similique, eius fuga. Rem natus
                                deserunt, harum? Quasi, fuga, culpa.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="sidebar-area">
                        <!-- Don't Miss Widget -->
                        <div class="donnot-miss-widget mb-50">
                            <div class="widget-title wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                <h5>Don't miss</h5>
                            </div>
                            <!-- Single Don't Miss Post -->
                            <div class="single-dont-miss-post mb-30 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                <div class="dont-miss-post-thumb">
                                    <img src="../resource/1.jpg" alt="">
                                </div>
                                <div class="dont-miss-post-content">
                                    <a href="blog-details.html">EU council reunites</a>
                                </div>
                            </div>
                            <!-- Single Don't Miss Post -->
                            <div class="single-dont-miss-post mb-30 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                <div class="dont-miss-post-thumb">
                                    <img src="../resource/2.jpg" alt="">
                                </div>
                                <div class="dont-miss-post-content">
                                    <a href="blog-details.html">A new way to travel the world</a>
                                </div>
                            </div>
                            <!-- Single Don't Miss Post -->
                            <div class="single-dont-miss-post wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                                <div class="dont-miss-post-thumb">
                                    <img src="../resource/3.jpg" alt="">
                                </div>
                                <div class="dont-miss-post-content">
                                    <a href="blog-details.html">Why choose a bank?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img" id="footer">

        <div class="footer-content-area spec">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-lg-4 col-md-6">
                        <div class="footer-copywrite-info mt-s">
                            <!-- Copywrite -->
                            <div class="about_oitc_footer fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <a href="#"><img src="../resource/logo.png" alt="logo"></a>
                                </div>
                            </div>
                            <div class="contact_info_area d-sm-flex justify-content-between">
                                <!-- Content Info -->
                                <div class="contact_info text-center fadeInUp" data-wow-delay="0.4s">
                                    <h5><b>CONTACT US</b></h5>
                                    <p><i class="fa fa-phone" aria-hidden="true"></i>&ensp;<b>Phone:</b>&nbsp;+84 243 987 4599</p>
                                    <p><i class="fa fa-fax" aria-hidden="true"></i>&ensp;<b>Fax:</b>&nbsp;+84243 9877655
                                    </p>
                                    <p><i class="fa fa-envelope" aria-hidden="true"></i>&ensp;<b>Email:</b>&nbsp;@oitc.com.vn</p>
                                </div>
                            </div>
                            <hr>
                            <!-- Social Icon -->
                            <div class="footer-social-info fadeInUp" data-wow-delay="0.4s">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-6">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <!-- Content Info -->
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <h5><b>HEADQUATERS</b></h5>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&ensp;No.3, Tourist 12, 651 Minh Khai Str., Hanoi City, Vietnam</p>
                                <h5><b>HA NOI BRANCH</b></h5>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&ensp;No 3, Lane 90, Nguy Nhu Kon Tum street, Nhan Chinh ward, Thanh Xuan District</p>
                                <h5><b>HO CHI MINH BRANCH</b></h5>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&ensp;The 9th floor, Park 7 Tower, Central Park, Nguyen Duc Canh Street, Binh Thanh District, Ho Chi Minh City. Vietnam
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-6" id="google-map">
                        <div class="contact_info_area row-reverse">
                            <!-- Content Info -->
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d465.5916194462686!2d105.86679821097533!3d21.00333908469868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac07a621256f%3A0xe64334bfa7fb6ec3!2sOITC%20Co%2C%20Ltd.!5e0!3m2!1svi!2s!4v1740034978103!5m2!1svi!2s"
                                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ########## All JS ########## -->
    <!-- jQuery js -->
    <script src="../resource/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="../resource/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../resource/js/bootstrap.min.js"></script>

    <script src="../resource/js/jquery.syotimer.min.js"></script>

    <!-- script js -->
    <script src="../resource/js/script.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647;"><i class="fa fa-angle-up"
            aria-hidden="true"></i></a>

    <script>
        document.querySelectorAll('.classy-navbar-toggler').forEach(function(trigger) {
            trigger.addEventListener('click', function() {
                $('.classy-menu').toggleClass("menu-on");
                $('.navbarToggler').toggleClass("active");
                $('.oitc-dark-theme').toggleClass("breakpoint-off");
                $('.oitc-dark-theme').toggleClass("breakpoint-on");
            });
        });

        document.querySelectorAll('.dd-trigger').forEach(function(trigger) {
            trigger.addEventListener('click', function() {
                $('.cn-dropdown-item').toggleClass("active");
                $('.cn-dropdown-item .dropdown').toggleClass("active");
            });
        });

        window.addEventListener('resize', function() {
            if (window.innerWidth > 991) {
                $('.cn-dropdown-item').removeClass("active");
                $('.classy-menu').removeClass("menu-on");
                $('.navbarToggler').removeClass("active");
                $('.oitc-dark-theme').removeClass("breakpoint-off");
                $('.oitc-dark-theme').removeClass("breakpoint-on");
                $('.oitc-dark-theme').addClass("breakpoint-off");
            }
        });
    </script>

</body>

</html>