<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Data Protection Product</title>

    <!-- Favicon -->
    <link rel="icon" href="../resource/logo1.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../resource/css/style.css">
    <link rel="stylesheet" href="../resource/css/cus-style.css">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="../resource/css/responsive.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

</head>

<body class="light-version">



    <!-- ##### Header Area Start ##### -->
    <header class="header-area wow fadeInDown" data-wow-delay="0.2s">
        <div class="classy-nav-container oitc-dark-theme dark breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="dreamNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="main.html"><img src="../resource/logo.png" alt="logo"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="main.html">Home</a>
                                </li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li class="cn-dropdown-item has-down pr12">
                                    <a>Product & Solution</a>
                                    <ul class="dropdown">
                                        <li><a href="storage.html">Storage</a></li>
                                        <li><a href="data-protection.html">Data Protection </a></li>
                                        <li><a href="solution.html">Solution </a></li>
                                    </ul>
                                    <span class="dd-trigger"></span><span class="dd-arrow"></span>
                                </li>
                                <li><a href="services.html">Service</a></li>
                                <li><a href="blog.html">News</a></li>
                                <li><a href="#footer">Contact</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Welcome Area Start ##### -->
    <div class="breadcumb-area clearfix dzsparallaxer auto-init mode-scroll animation-engine-js dzsprx-readyall" data-options="{direction: &quot;normal&quot;}">
        <div class="divimage dzsparallaxer--target" style="width: 100%; height: 100%; background-image: url(&quot;../resource/17927.jpg&quot;); transform: translate3d(0px, -84.5495px, 0px);"></div>
        <!-- breadcumb content -->
        <div class="breadcumb-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                            <h2 class="w-text title wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Lastest News</h2>
                            <ol class="breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                <li class="breadcrumb-item"><a href="main.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">NEWS</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Welcome Area End ##### -->

    <div class="clearfix"></div>

    <section class="our_blog_area section-padding-50-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">

                        <div class="oitc-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                            <span></span><span></span><span></span><span></span><span></span>
                        </div>
                        <h2 class="fadeInUp" data-wow-delay="0.3s">Lastest News</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-4 col-md-6">
                    <div class="blog-item hover-content">
                        <div class="image">
                            <img src="../resource/1.jpg">
                        </div>
                        <div class="content white">
                            <ul class="blog-meta">
                                <li><a href="#">HITACHI</a></li>
                                <li><a href="#">November 19, 2024</a></li>
                            </ul>
                            <h4 class="title"><a href="https://www.hitachivantara.com/en-us/blog/unleash-power-of-your-ai-initiative-with-hitachi-iq">Unleash the Power of Your AI
                                    Initiative with Hitachi iQ</a></h4>
                            <div class="inner-content">
                                <p>This week’s SC24 event – The International Conference for High Performance Computing, Networking, Storage and Analysis – will celebrate groundbreaking work taking place around the world in HPC. Under the theme HPC Creates,
                                    the event brings together many of the best and brightest engineers, scientists, researchers, educators and developers from around the world. Our team at Hitachi Vantara is excited to be a part of this year’s show.</p>
                                <a class="details-btn" href="https://www.hitachivantara.com/en-us/blog/unleash-power-of-your-ai-initiative-with-hitachi-iq"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="blog-item hover-content">
                        <div class="image">
                            <img src="../resource/2.jpg">
                        </div>
                        <div class="content white">
                            <ul class="blog-meta">
                                <li><a href="blog.html">Veritas</a></li>
                                <li><a href="blog.html">December 10, 2024</a></li>
                            </ul>
                            <h4 class="title"><a href="https://www.veritas.com/news-releases/2024-12-10-cohesity-becomes-worlds-largest-data-protection-software-provider-after-completing-combination-with-veritas-enterprise-data-protection-business">Cohesity becomes the top data
                                    protection provider after merging with Veritas</a></h4>
                            <div class="inner-content">
                                <p>Cohesity has merged with Veritas’ enterprise data protection business, becoming the world’s largest data protection software provider. Serving over 12,000 customers, including 85+ Fortune 100 companies, it now protects
                                    hundreds of exabytes of data and offers expanded workload support and a larger partner ecosystem.</p>
                                <a class="details-btn" href="https://www.veritas.com/news-releases/2024-12-10-cohesity-becomes-worlds-largest-data-protection-software-provider-after-completing-combination-with-veritas-enterprise-data-protection-business"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="blog-item hover-content">
                        <div class="image">
                            <img src="../resource/3.jpg">
                        </div>
                        <div class="content white">
                            <ul class="blog-meta">
                                <li><a href="blog.html">Elastic</a></li>
                                <li><a href="blog.html">November 06, 2024</a></li>
                            </ul>
                            <h4 class="title"><a href="https://www.elastic.co/blog/autoops-for-elasticsearch">Managing Elasticsearch just got
                                    easier, a LOT easier</a></h4>
                            <div class="inner-content">
                                <p>Elasticsearch users, we heard you. Managing Elasticsearch can sometimes get complex, with challenges ranging from performance tuning to issue detection and resource optimization. We have been on a mission to simplify your
                                    experience. Today, we are announcing an exciting update since our acquisition of Opster.
                                </p>
                                <a class="details-btn" href="https://www.elastic.co/blog/autoops-for-elasticsearch"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area main-footer bg-img bgc-blue" id="footer">
        <div class="footer-content-area spec">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-lg-4 col-md-6">
                        <div class="footer-copywrite-info mt-s">
                            <!-- Copywrite -->
                            <div class="about_oitc_footer fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <a href="#"><img src="../resource/logo.png" alt="logo"></a>
                                </div>
                            </div>
                            <div class="contact_info_area d-sm-flex justify-content-between">
                                <!-- Content Info -->
                                <div class="contact_info text-center fadeInUp" data-wow-delay="0.4s">
                                    <h5><b>CONTACT US</b></h5>
                                    <p><i class="fa fa-phone" aria-hidden="true"></i>&ensp;<b>Phone:</b>&nbsp;+84 243 987 4599</p>
                                    <p><i class="fa fa-fax" aria-hidden="true"></i>&ensp;<b>Fax:</b>&nbsp;+84 243 987 7655
                                    </p>
                                    <p><i class="fa fa-envelope" aria-hidden="true"></i>&ensp;<b>Email:</b>&nbsp;info@oitc.com.vn</p>
                                </div>
                            </div>
                            <hr>
                            <!-- Social Icon -->
                            <div class="footer-social-info fadeInUp" data-wow-delay="0.4s">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-6">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <!-- Content Info -->
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <h5><b>HEADQUATERS</b></h5>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&ensp;No.3, Tourist 12, 651 Minh Khai Str., Hanoi City, Vietnam</p>
                                <h5><b>HA NOI BRANCH</b></h5>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&ensp;No 3, Lane 90, Nguy Nhu Kon Tum street, Nhan Chinh ward, Thanh Xuan District</p>
                                <h5><b>HO CHI MINH BRANCH</b></h5>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&ensp;The 9th floor, Park 7 Tower, Central Park, Nguyen Duc Canh Street, Binh Thanh District, Ho Chi Minh City. Vietnam
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-6" id="google-map">
                        <div class="contact_info_area row-reverse">
                            <!-- Content Info -->
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d465.5916194462686!2d105.86679821097533!3d21.00333908469868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac07a621256f%3A0xe64334bfa7fb6ec3!2sOITC%20Co%2C%20Ltd.!5e0!3m2!1svi!2s!4v1740034978103!5m2!1svi!2s"
                                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ########## All JS ########## -->
    <!-- jQuery js -->
    <script src="../resource/js/jquery.min.js "></script>
    <!-- Popper js -->
    <script src="../resource/js/popper.min.js "></script>
    <!-- Bootstrap js -->
    <script src="../resource/js/bootstrap.min.js "></script>

    <script src="../resource/js/jquery.syotimer.min.js "></script>

    <!-- script js -->
    <script src="../resource/js/script.js "></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js "></script>

    <a id="scrollUp " href="#top " style="position: fixed; z-index: 2147483647; "><i class="fa fa-angle-up "
            aria-hidden="true "></i></a>

    <script>
        document.querySelectorAll('.classy-navbar-toggler').forEach(function(trigger) {
            trigger.addEventListener('click', function() {
                $('.classy-menu').toggleClass("menu-on ");
                $('.navbarToggler').toggleClass("active ");
                $('.oitc-dark-theme').toggleClass("breakpoint-off ");
                $('.oitc-dark-theme').toggleClass("breakpoint-on ");
            });
        });

        document.querySelectorAll('.dd-trigger').forEach(function(trigger) {
            trigger.addEventListener('click', function() {
                $('.cn-dropdown-item').toggleClass("active ");
                $('.cn-dropdown-item .dropdown').toggleClass("active ");
            });
        });

        window.addEventListener('resize', function() {
            if (window.innerWidth > 991) {
                $('.cn-dropdown-item').removeClass("active ");
                $('.classy-menu').removeClass("menu-on ");
                $('.navbarToggler').removeClass("active ");
                $('.oitc-dark-theme').removeClass("breakpoint-off ");
                $('.oitc-dark-theme').removeClass("breakpoint-on ");
                $('.oitc-dark-theme').addClass("breakpoint-off ");
            }
        });
    </script>

</body>

</html>