<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Trang chủ</title>

    <!-- Favicon -->
    <link rel="icon" href="../resource/logo.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../resource/css/style.css">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="../resource/css/responsive.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

</head>

<body class="light-version">
    <!-- Preloader -->


    <!-- ##### Header Area Start ##### -->
    <header class="header-area wow fadeInDown" data-wow-delay="0.2s">
        <div class="classy-nav-container dark left breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="dreamNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index-2.html"><img src="../resource/logo.png" alt="logo"> OITC</a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="main.html">Home</a>
                                </li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="product.html">Product</a></li>
                                <li><a href="services.html">Service & Solution</a></li>
                                <li class="cn-dropdown-item has-down pr12"><a href="#blog">Blog</a>
                                    <ul class="dropdown">
                                        <li><a href="blog.html">Blog Posts</a></li>
                                        <li><a href="share.html">Knowledge Share </a></li>
                                    </ul>
                                    <span class="dd-trigger"></span><span class="dd-arrow"></span></li>
                                <li><a href="#footer">Contact</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Welcome Area Start ##### -->
    <section class="welcome_area demo2 flex align-items-center">

        <div class="container">
            <div class="row align-items-center">
                <!-- Welcome Content -->
                <div class="col-12 col-lg-6 col-md-12">
                    <div class="welcome-content v2">
                        <div class="promo-section">
                            <div class="integration-link light">
                                <span class="integration-icon">
                                    <img src="../resource/img-dollar.svg" width="24" height="24" alt="">
                                </span>
                                <span class="integration-text">Discover a new Solutions to Grow your Business!</span>
                            </div>
                        </div>
                        <h1 class="wow fadeInUp w-text" data-wow-delay="0.2s">Creative IT Solutions To Grow Your Business</h1>
                        <p class="wow fadeInUp" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at dictum risus, non suscipit arcu Quisque aliquam posuere tortor, sit amet convallis nunc scelerisque in.</p>
                        <div class="dream-btn-group wow fadeInUp" data-wow-delay="0.4s">
                            <a href="#services" class="btn dream-btn green-btn mr-3">our Services</a>
                            <a href="#footer" class="btn dream-btn green-btn"> contact us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Welcome Area End ##### -->

    <div class="clearfix"></div>

    <div class="st-bg">
        <!-- ##### Cool Facts Area Start ##### -->
        <div class="cool-facts-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3">
                        <!-- Single Cool Fact -->
                        <div class="single_cool_fact text-center wow fadeInUp" data-wow-delay="0.2s">
                            <div class="cool_fact_icon">
                                <i class="ti-user"></i>
                            </div>
                            <!-- Single Cool Detail -->
                            <div class="cool_fact_detail">
                                <h3><span class="counter">50</span>+</h3>
                                <h2>Reputable Partner</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <!-- Single Cool Fact -->
                        <div class="single_cool_fact text-center wow fadeInUp" data-wow-delay="0.3s">
                            <div class="cool_fact_icon">
                                <i class="ti-check"></i>
                            </div>
                            <!-- Single Cool Detail -->
                            <div class="cool_fact_detail">
                                <h3><span class="counter">70</span>+</h3>
                                <h2>Current Customer</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <!-- Single Cool Fact -->
                        <div class="single_cool_fact text-center wow fadeInUp" data-wow-delay="0.4s">
                            <div class="cool_fact_icon">
                                <i class="ti-shortcode"></i>
                            </div>
                            <!-- Single Cool Detail -->
                            <div class="cool_fact_detail">
                                <h3><span class="counter">120</span>+</h3>
                                <h2>Product</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <!-- Single Cool Fact -->
                        <div class="single_cool_fact text-center wow fadeInUp" data-wow-delay="0.5s">
                            <div class="cool_fact_icon">
                                <i class="ti-cup"></i>
                            </div>
                            <!-- Single Cool Detail -->
                            <div class="cool_fact_detail">
                                <h3><span class="counter">23</span>+</h3>
                                <h2>Certification Achieved</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Cool Facts Area End ##### -->

        <!-- ##### About Us Area Start ##### -->
        <section class="about-us-area section-padding-0-100 clearfix" id="about">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-12 col-lg-6">
                        <div class="welcome-meter  fadeInUp" data-wow-delay="0.7s">
                            <img src="../resource/about.png" class="img-responsive center-block" alt="">
                            <!-- client meta -->
                            <div class="growing-company text-center mt-30  fadeInUp" data-wow-delay="0.8s">
                                <p>* Already growing up <span class="counter">300</span> partner</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="who-we-contant mt-s">

                            <div class="dream-dots fadeInUp" data-wow-delay="0.2s">
                                <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                            </div>
                            <h4 class=" fadeInUp" data-wow-delay="0.3s">About OITC</h4>
                            <p class=" fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at dictum risus, non suscipit arcu. Quisque aliquam posuere tortor, sit amet convallis nunc scelerisque in.</p>
                            <p class=" fadeInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eius molestiae facere, natus reprehenderit eaque eum, autem ipsam. Magni, error. Tempora odit laborum iure inventore possimus laboriosam qui nam. Fugit!</p>
                            <a href="about-us.html#about" class="btn dream-btn mt-30 fadeInUp" data-wow-delay="0.6s" href="#">Read More</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- ##### About Us Area End ##### -->

        <!-- ##### About Us Area Start ##### -->
        <section class="about-us-area section-padding-0-70 clearfix">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-12 col-lg-6">
                        <div class="who-we-contant">

                            <div class="dream-dots fadeInUp" data-wow-delay="0.2s">
                                <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                            </div>
                            <h4 class=" fadeInUp" data-wow-delay="0.3s">About my engineer team</h4>
                            <p class=" fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at dictum risus, non suscipit arcu. Quisque aliquam posuere tortor, sit amet convallis nunc scelerisque Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Odio incidunt ab veniam, maxime repellendus iste magnam at quasi nesciunt architecto perferendis laboriosam doloribus, unde facere laudantium atque qui harum maiores?.</p>
                            <p class=" fadeInUp" data-wow-delay="0.5s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quo laboriosam, dolorum ducimus similique aliquam consequuntur saepe numquam suscipit praesentium fuga eveniet error assumenda eos quasi doloribus ullam autem,
                                quisquam aliquam consequuntur saepe numquam suscipit similique!</p>
                            <a class="btn dream-btn mt-30  fadeInUp" data-wow-delay="0.6s" href="#">Read More</a>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="welcome-meter fadeInUp mt-s" data-wow-delay="0.7s">
                            <img src="../resource/about2.png" class="center-block" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### About Us Area End ##### -->

        <!-- ##### Our Services Area Start ##### -->
        <section class="our_services_area section-padding-30-50 clearfix" id="services">
            <div class="container">

                <div class="section-heading text-center">

                    <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">Our Core Services</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
                </div>


                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <!-- Content -->
                        <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.2s">
                            <!-- Icon -->
                            <div class="service_icon">
                                <img src="../resource/1.svg" alt="">
                            </div>
                            <h6>Storage Systems</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam, maximus ut accumsan ut, posuere sit Lorem ipsum.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <!-- Content -->
                        <div class="service_single_content text-center mb-100 wow wow fadeInUp" data-wow-delay="0.3s">
                            <!-- Icon -->
                            <div class="service_icon">
                                <img src="../resource/2.svg" alt="">
                            </div>
                            <h6>Backup Systems</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam, maximus ut accumsan ut, posuere sit Lorem ipsum.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <!-- Content -->
                        <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.4s">
                            <!-- Icon -->
                            <div class="service_icon">
                                <img src="../resource/3.svg" alt="">
                            </div>
                            <h6>IT Maintenance Services</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam, maximus ut accumsan ut, posuere sit Lorem ipsum.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <!-- Content -->
                        <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.5s">
                            <!-- Icon -->
                            <div class="service_icon">
                                <img src="../resource/4.svg" alt="">
                            </div>
                            <h6>Hitachi Authorized Services Partner</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam, maximus ut accumsan ut, posuere sit Lorem ipsum.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <!-- Content -->
                        <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.6s">
                            <!-- Icon -->
                            <div class="service_icon">
                                <img src="../resource/5.svg" alt="">
                            </div>
                            <h6>Veritas Authorized Consulting Partner</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam, maximus ut accumsan ut.</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <!-- Content -->
                        <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.7s">
                            <!-- Icon -->
                            <div class="service_icon">
                                <img src="../resource/6.svg" alt="">
                            </div>
                            <h6>IT Solution</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque quam, maximus ut accumsan ut, posuere sit Lorem ipsum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Our Services Area End ##### -->

        <section class="demo-video feat section-padding-30-50" id="videos-demo">
            <div class="container">
                <div class="section-heading text-center">

                    <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <h2 class="d-blue fadeInUp" data-wow-delay="0.3s">Watch about my service</h2>
                    <p class="fadeInUp" data-wow-delay="0.4s" style="color:#888">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
                </div>
                <div class="row align-items-center">
                    <!-- Welcome Video Area -->
                    <div class="col-lg-6 col-md-12  col-sm-12">
                        <div class="welcome-video-area fadeInUp" data-wow-delay="0.5s" id="video1">
                            <div class="welcome-thumb">
                                <div class="owl-carousel owl-carousel-1">
                                    <div class="item">
                                        <img src="../resource/bg-2.jpg" alt="">
                                        <!-- Video Icon -->
                                        <div class="video-icon">
                                            <a href="https://www.youtube.com/watch?v=WbqYbzAkF94&t=80s" class="btn dream-btn video-btn" id="videobtn"><i class="fa fa-play"></i></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="../resource/bg-3.jpg" alt="">
                                        <!-- Video Icon -->
                                        <div class="video-icon">
                                            <a href="https://www.youtube.com/watch?v=1U3Sc4emnsU" class="btn dream-btn video-btn" id="videobtn"><i class="fa fa-play"></i></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="../resource/bg-4.jpg" alt="">
                                        <!-- Video Icon -->
                                        <div class="video-icon">
                                            <a href="https://www.youtube.com/watch?v=1U3Sc4emnsU" class="btn dream-btn video-btn" id="videobtn"><i class="fa fa-play"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="welcome-video-area fadeInUp" data-wow-delay="0.5s" id="video2" style="display: none;">
                            <div class="welcome-thumb">
                                <div class="owl-carousel owl-carousel-1">
                                    <div class="item">
                                        <img src="../resource/bg-2.jpg" alt="">
                                        <!-- Video Icon -->
                                        <div class="video-icon">
                                            <a href="https://www.youtube.com/watch?v=WbqYbzAkF94&t=80s" class="btn dream-btn video-btn" id="videobtn"><i class="fa fa-play"></i></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="../resource/bg-3.jpg" alt="">
                                        <!-- Video Icon -->
                                        <div class="video-icon">
                                            <a href="https://www.youtube.com/watch?v=1U3Sc4emnsU" class="btn dream-btn video-btn" id="videobtn"><i class="fa fa-play"></i></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="../resource/bg-4.jpg" alt="">
                                        <!-- Video Icon -->
                                        <div class="video-icon">
                                            <a href="https://www.youtube.com/watch?v=1U3Sc4emnsU" class="btn dream-btn video-btn" id="videobtn"><i class="fa fa-play"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="welcome-video-area" id="video3" style="display: none;">
                            <!-- Welcome Thumbnail -->
                            <div class="welcome-thumb">
                                <div class="owl-carousel owl-carousel-1">
                                    <div class="item"><img src="../resource/bg-4.jpg" alt=""></div>
                                    <div class="item"><img src="../resource/bg-2.jpg" alt=""></div>
                                    <div class="item"><img src="../resource/bg-3.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="services-block-four active" onclick="choose(this, 'video1')">
                            <div class="inner-box">
                                <div class="icon-img-box">
                                    <img src="../resource/d1.png" alt="">
                                </div>
                                <h3>Solution</h3>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium modi assumenda.</div>
                            </div>
                        </div>
                        <div class="services-block-four" onclick="choose(this, 'video2')">
                            <div class="inner-box">
                                <div class="icon-img-box">
                                    <img src="../resource/d2.png" alt="">
                                </div>
                                <h3>Service</h3>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit skaj gjska consectetur adipisicing elit.</div>
                            </div>
                        </div>
                        <div class="services-block-four" style="margin-bottom:0" onclick="choose(this, 'video3')">
                            <div class="inner-box">
                                <div class="icon-img-box">
                                    <img src="../resource/d3.png" alt="">
                                </div>
                                <h3>Production</h3>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium modi.</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="clearfix"></div>

    <!-- ##### Team Area Start ##### -->
    <section class="our_team_area section-padding-30-50 clearfix" id="achieved">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">

                        <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <h2 class="wow fadeInUp" data-wow-delay="0.3s">Certification Achieved</h2>
                        <!-- <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo. </p> -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="../resource/1.png" class="center-block" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Veritas certificate</h5>
                            <p>Lorem sum</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.3s">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="../resource/2.png" class="center-block" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Hitachi certificate</h5>
                            <p>Lorem sum</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="../resource/3.png" class="center-block" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Test certificate</h5>
                            <p>Lorem sum</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member wow fadeInUp" data-wow-delay="0.5s">
                        <!-- Image -->
                        <div class="team-member-thumb">
                            <img src="../resource/4.png" class="center-block" alt="">
                        </div>
                        <!-- Team Info -->
                        <div class="team-info">
                            <h5>Test 2 certificate</h5>
                            <p>Lorem sum</p>
                        </div>
                    </div>
                </div>

                <div class="col-12" id="hidden-achived">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-team-member">
                            <!-- Image -->
                            <div class="team-member-thumb">
                                <img src="../resource/1.png" class="center-block" alt="">
                            </div>
                            <!-- Team Info -->
                            <div class="team-info">
                                <h5>Test3 certificate</h5>
                                <p>Lorem sum</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-team-member">
                            <!-- Image -->
                            <div class="team-member-thumb">
                                <img src="../resource/2.png" class="center-block" alt="">
                            </div>
                            <!-- Team Info -->
                            <div class="team-info">
                                <h5>Test4 certificate</h5>
                                <p>Lorem sum</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-team-member">
                            <!-- Image -->
                            <div class="team-member-thumb">
                                <img src="../resource/3.png" class="center-block" alt="">
                            </div>
                            <!-- Team Info -->
                            <div class="team-info">
                                <h5>Test5 certificate</h5>
                                <p>Lorem sum</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-team-member">
                            <!-- Image -->
                            <div class="team-member-thumb">
                                <img src="../resource/4.png" class="center-block" alt="">
                            </div>
                            <!-- Team Info -->
                            <div class="team-info">
                                <h5>Test6 certificate</h5>
                                <p>Lorem sum</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12" id="button-achived">
                    <a class="btn dream-btn mt-15" onclick="seeMoreAchived()">See More</a>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Team Area End ##### -->

    <!-- ##### Team Area Start ##### -->
    <section class="our_team_area section-padding-30-50 clearfix" id="partner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">

                        <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <h2 class="wow fadeInUp" data-wow-delay="0.3s">Our Partner</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo. </p>
                    </div>
                </div>
            </div>

            <div class="owl-carousel" id="owl-carousel-5">
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-1.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-2.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-3.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-4.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-5.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-6.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-7.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-8.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-9.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-10.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-11.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-12.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-13.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-14.png" class="center-block" alt="">
                    </div>
                </div>
            </div>

            <div class="owl-carousel" id="owl-carousel-5-center">
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-1.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-2.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-3.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-4.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-5.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-6.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-7.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-8.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-9.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-10.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-11.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-12.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-13.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-14.png" class="center-block" alt="">
                    </div>
                </div>
            </div>

            <div class="owl-carousel" id="owl-carousel-5-clone">
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-1.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-2.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-3.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-4.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-5.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-6.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-7.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-8.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-9.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-10.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-11.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-12.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-13.png" class="center-block" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 item">
                    <!-- Image -->
                    <div class="team-member-thumb">
                        <img src="../resource/partner-14.png" class="center-block" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Team Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <section class="our_blog_area section-padding-0-0" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">

                        <div class="dream-dots justify-content-center  fadeInUp" data-wow-delay="0.2s">
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                        <h2 class=" fadeInUp" data-wow-delay="0.3s">Latest News</h2>
                        <p class=" fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo. </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">

                <!-- Single Blog Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area fadeInUp" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="../resource/1.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">


                            <div class="post-meta mt-20">
                                <p>By <a href="#" class="post-author">ADMIN</a> <a href="#">Apr 10, 2020</a> <a href="#" class="post-comments">7 comments</a></p>
                            </div>
                            <a class="post-title" href="blog-details.html">
                                <h4>How to become a successful businessman.</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione sapiente repellat.</p>
                            <a class="btn dream-btn mt-15" href="blog-details.html">Read Details</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area fadeInUp" data-wow-delay="0.3s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="../resource/2.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">


                            <div class="post-meta mt-20">
                                <p>By <a href="#" class="post-author">ADMIN</a> <a href="#">Apr 10, 2020</a> <a href="#" class="post-comments">7 comments</a></p>
                            </div>
                            <a class="post-title" href="blog-details.html">
                                <h4>How to become a successful businessman.</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione sapiente repellat.</p>
                            <a class="btn dream-btn mt-15" href="blog-details.html">Read Details</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area fadeInUp" data-wow-delay="0.4s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="../resource/3.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">


                            <div class="post-meta mt-20">
                                <p>By <a href="#" class="post-author">ADMIN</a> <a href="#">Apr 10, 2020</a> <a href="#" class="post-comments">7 comments</a></p>
                            </div>
                            <a class="post-title" href="blog-details.html">
                                <h4>How to become a successful businessman.</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione sapiente repellat.</p>
                            <a class="btn dream-btn mt-15" href="blog-details.html">Read Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img" id="footer">

        <div class="footer-content-area spec">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-lg-4 col-md-6">
                        <div class="footer-copywrite-info">
                            <!-- Copywrite -->
                            <div class="copywrite_text fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <a href="#"><img src="../resource/logo.png" alt="logo"> OITC </a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ducimus voluptatibus neque illo id repellat quisquam? Autem expedita earum quae laborum ipsum ad.</p>
                            </div>
                            <!-- Social Icon -->
                            <div class="footer-social-info fadeInUp" data-wow-delay="0.4s">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-5 col-md-6">
                    </div>

                    <div class="col-12 col-lg-3 col-md-6 ">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <!-- Content Info -->
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <h5>CONTACT US</h5>
                                <p>Time Tower, .....</p>
                                <p>+999 99999 999</p>
                                <p>support@yourdomain.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ########## All JS ########## -->
    <!-- jQuery js -->
    <script src="../resource/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="../resource/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../resource/js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../resource/js/plugins.js"></script>
    <!-- Parallax js -->
    <script src="../resource/js/dzsparallaxer.js"></script>

    <script src="../resource/js/jquery.syotimer.min.js"></script>

    <!-- script js -->
    <script src="../resource/js/script.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <a id="scrollUp" href="#top" style="display: none; position: fixed; z-index: 2147483647;">Scroll Top</a>

    <script>
        function choose(el, id) {
            let boundActiveVideo = document.getElementsByClassName('services-block-four');
            for (let i = 0; i < boundActiveVideo.length; i++) {
                boundActiveVideo[i].classList.remove('active')
            }
            let boundVideo = document.getElementsByClassName('welcome-video-area');
            for (let i = 0; i < boundVideo.length; i++) {
                boundVideo[i].style.display = 'none';
            }
            document.getElementById(id).style.removeProperty('display');
            $(el).addClass("active");
        }

        function seeMoreAchived() {

            var hiddenAchived = document.getElementById("hidden-achived");

            var style = window.getComputedStyle(hiddenAchived);

            // Check if the display property is 'none'
            if (style.display === 'none') {
                document.getElementById("hidden-achived").style.display = 'flex';
                document.getElementById("button-achived").innerHTML = '<a class="btn dream-btn mt-15" onclick="seeMoreAchived()">See Less</a>';
            } else {
                document.getElementById("hidden-achived").style.display = 'none';
                document.getElementById("button-achived").innerHTML = '<a class="btn dream-btn mt-15" onclick="seeMoreAchived()">See More</a>';
            }
        }

        $(document).ready(function() {
            $(".owl-carousel-1").owlCarousel({
                items: 1, // Number of items to show
                loop: true, // Loop through the items
                nav: false, // Show next/prev buttons
                autoplay: true, // Auto play the carousel
                autoplayTimeout: 1000, // Delay for autoplay
                autoplayHoverPause: true // Pause autoplay on hover
            });

            $("#owl-carousel-5").owlCarousel({
                items: 4, // Number of items to show
                loop: true, // Loop through the items
                nav: false, // Show next/prev buttons
                autoplay: true, // Auto play the carousel
                autoplayTimeout: 500, // Delay for autoplay
                autoplayHoverPause: true // Pause autoplay on hover
            });

            $("#owl-carousel-5-clone").owlCarousel({
                items: 4, // Number of items to show
                loop: true, // Loop through the items
                nav: false, // Show next/prev buttons
                autoplay: true, // Auto play the carousel
                autoplayTimeout: 500, // Delay for autoplay
                autoplayHoverPause: true // Pause autoplay on hover
            });

            $("#owl-carousel-5-center").owlCarousel({
                center: true,
                items: 4, // Number of items to show
                loop: true, // Loop through the items
                nav: false, // Show next/prev buttons
                autoplay: true, // Auto play the carousel
                autoplayTimeout: 500, // Delay for autoplay
                autoplayHoverPause: true // Pause autoplay on hover
            });
        });
    </script>

</body>

</html>