<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Trang chủ</title>

    <!-- Favicon -->
    <link rel="icon" href="../resource/logo1.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../resource/css/style.css">
    <link rel="stylesheet" href="../resource/css/cus-style.css">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="../resource/css/responsive.css">
    <link rel="stylesheet" href="../resource/css/flaticon.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css"
        rel="stylesheet">

</head>

<body class="light-version">



    <!-- ##### Header Area Start ##### -->
    <header class="header-area wow fadeInDown" data-wow-delay="0.2s">
        <div class="classy-nav-container oitc-dark-theme dark breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="dreamNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="main.html"><img src="../resource/logo.png" alt="logo"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="main.html">Home</a>
                                </li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li class="cn-dropdown-item has-down pr12">
                                    <a>Product & Solution</a>
                                    <ul class="dropdown">
                                        <li><a href="storage.html">Storage</a></li>
                                        <li><a href="data-protection.html">Data Protection </a></li>
                                        <li><a href="solution.html">Solution </a></li>
                                    </ul>
                                    <span class="dd-trigger"></span><span class="dd-arrow"></span>
                                </li>
                                <li><a href="services.html">Service</a></li>
                                <li><a href="blog.html">News</a></li>
                                <li><a href="#footer">Contact</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Welcome Area Start ##### -->
    <div class="owl-carousel owl-carousel-1">
        <section class="welcome_oitc demo1 flex align-items-center item">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Welcome Content -->
                    <div class="col-12 col-lg-6 col-md-12">
                        <div class="oitc_content oitc">
                            <div class="about-oitc-section">
                                <div class="quote-in-slide">
                                    <span class="quote-icon">
                                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                                    </span>
                                    <span class="quote-text">Bring the best Solutions to Grow your Business!</span>
                                </div>
                            </div>
                            <h1 class="wow fadeInUp w-text" data-wow-delay="0.2s">Anything you want
                            </h1>
                            <h1 class="wow fadeInUp w-text" data-wow-delay="0.2s"><b>"YES I HAD"</b>
                            </h1>
                            <p class="wow fadeInUp" data-wow-delay="0.3s">Your success is our honor, always bringing the
                                most advanced solutions.</p>
                            <div class="oitc-btn-group wow fadeInUp" data-wow-delay="0.4s">
                                <a href="#services" class="btn oitc-btn green-btn mr-3">our Services</a>
                                <a href="#footer" class="btn oitc-btn green-btn"> contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="welcome_oitc demo2 flex align-items-center item">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Welcome Content -->
                    <div class="col-12 col-lg-6 col-md-12">
                        <div class="oitc_content oitc">
                            <div class="about-oitc-section">
                                <div class="quote-in-slide">
                                    <span class="quote-icon">
                                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                                    </span>
                                    <span class="quote-text">Bring the best Solutions to Grow your Business!</span>
                                </div>
                            </div>
                            <h1 class="wow fadeInUp w-text" data-wow-delay="0.2s">Anything you want
                            </h1>
                            <h1 class="wow fadeInUp w-text" data-wow-delay="0.2s"><b>"YES I HAD"</b>
                            </h1>
                            <p class="wow fadeInUp" data-wow-delay="0.3s">Your success is our honor, always bringing the
                                most advanced solutions.</p>
                            <div class="oitc-btn-group wow fadeInUp" data-wow-delay="0.4s">
                                <a href="#services" class="btn oitc-btn green-btn mr-3">our Services</a>
                                <a href="#footer" class="btn oitc-btn green-btn"> contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="welcome_oitc demo3 flex align-items-center item">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Welcome Content -->
                    <div class="col-12 col-lg-6 col-md-12">
                        <div class="oitc_content oitc">
                            <div class="about-oitc-section">
                                <div class="quote-in-slide">
                                    <span class="quote-icon">
                                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                                    </span>
                                    <span class="quote-text">Bring the best Solutions to Grow your Business!</span>
                                </div>
                            </div>
                            <h1 class="wow fadeInUp w-text" data-wow-delay="0.2s">Anything you want
                            </h1>
                            <h1 class="wow fadeInUp w-text" data-wow-delay="0.2s"><b>"YES I HAD"</b>
                            </h1>
                            <p class="wow fadeInUp" data-wow-delay="0.3s">Your success is our honor, always bringing the
                                most advanced solutions.</p>
                            <div class="oitc-btn-group wow fadeInUp" data-wow-delay="0.4s">
                                <a href="#services" class="btn oitc-btn green-btn mr-3">our Services</a>
                                <a href="#footer" class="btn oitc-btn green-btn"> contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- ##### Welcome Area End ##### -->

    <div class="clearfix"></div>

    <div class="st-bg">
        <!-- ##### About Us Area Start ##### -->
        <section class="about-us-area section-padding-0-100 clearfix" id="about">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-12 col-lg-6">
                        <div class="oitc-meter  fadeInUp" data-wow-delay="0.7s">
                            <img src="../resource/about.png" class="img-responsive center-block" alt="">
                            <!-- client meta -->
                            <div class="oitc-growing text-center mt-30  fadeInUp" data-wow-delay="0.8s">
                                <p>* Already growing up <span class="counter">300</span> partner</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="who-we-are mt-s">

                            <div class="oitc-dots fadeInUp" data-wow-delay="0.2s">
                                <span></span><span></span><span></span><span></span><span></span>
                            </div>
                            <h4 class=" fadeInUp" data-wow-delay="0.3s">About OITC</h4>
                            <p class=" fadeInUp text-align-justify" data-wow-delay="0.4s">OITC Company is one of the
                                telecommunications and information technology companies established in 2001, boasting 23
                                years of experienceF.
                            </p>
                            <p class=" fadeInUp text-align-justify" data-wow-delay="0.5s">OITC has solidified its
                                position in Vietnam's Information Technology market with leading experts in data storage
                                and backup, system integration, information security, cybersecurity, and networking.</p>
                            <a href="about-us.html#about" class="btn oitc-btn mt-30 fadeInUp" data-wow-delay="0.6s"
                                href="#">Read More</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- ##### About Us Area End ##### -->

        <!-- ##### About Us Area Start ##### -->
        <section class="about-us-area section-padding-0-70 clearfix">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-12 col-lg-6">
                        <div class="who-we-are">

                            <div class="oitc-dots fadeInUp" data-wow-delay="0.2s">
                                <span></span><span></span><span></span><span></span><span></span>
                            </div>
                            <h4 class="text-align-justify fadeInUp" data-wow-delay="0.3s">About my engineer team</h4>
                            <p class="text-align-justify fadeInUp" data-wow-delay="0.4s">At OITC Company Limited, our
                                engineering team is the backbone of our success. Comprising highly skilled professionals
                                with specialized training and deep expertise, our engineers excel in integrating
                                advanced systems, including
                                data storage, backup solutions, servers, cybersecurity, and network infrastructure. Many
                                have trained abroad, making them leading experts in Vietnam’s IT landscape.</p>
                            <a class="btn oitc-btn mt-30  fadeInUp" data-wow-delay="0.6s" href="about-us.html#team">Read
                                More</a>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="oitc-meter fadeInUp mt-s" data-wow-delay="0.7s">
                            <img src="../resource/about2.png" class="center-block" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### About Us Area End ##### -->

        <!-- Services Area start -->
        <section class="our_services_area section-padding-30-50 clearfix services-area bgc-blue pt-130 rpt-100 rel z-1"
            id="services">
            <div class="container">

                <div class="section-heading text-center">

                    <div class="oitc-dots white justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <h2 class="wow fadeInUp white-text" data-wow-delay="0.3s">Our Core Services</h2>
                    <p class="wow fadeInUp white-text" data-wow-delay="0.4s">OITC offers high-performance IT solutions,
                        including motherboards, servers, and accessories, designed to empower businesses in the digital
                        age.
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item hover-content">
                            <div class="image">
                                <img src="../resource/service1.jpg" alt="Feature">
                            </div>
                            <div class="content">
                                <h4 class="title"><i class="flaticon-it"></i> Storage Systems</h4>
                                <div class="inner-content">
                                    <p>Storage systems are a critical and
                                        indispensable component of any data center,
                                        serving as the foundation for storing and
                                        managing an organization’s and customers’
                                        data.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item hover-content">
                            <div class="image">
                                <img src="../resource/service2.jpg" alt="Feature">
                            </div>
                            <div class="content">
                                <h4 class="title"><i class="flaticon-data-protection"></i> Data Protection</h4>
                                <div class="inner-content">
                                    <p>Data Protection solution must be an
                                        enterprise-grade backup and recovery
                                        solution designed to protect physical,
                                        virtual, and cloud environments.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item hover-content">
                            <div class="image">
                                <img src="../resource/service3.jpg" alt="Feature">
                            </div>
                            <div class="content">
                                <h4 class="title"><i class="flaticon-cloud"></i> IT Solution</h4>
                                <div class="inner-content">
                                    <p>OITC offers a wide variety of solutions,
                                        including storage systems, data protection
                                        systems, servers, observability systems, and
                                        other essential IT solutions.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item hover-content">
                            <div class="image">
                                <img src="../resource/service4.jpg" alt="Feature">
                            </div>
                            <div class="content">
                                <h4 class="title"><i class="flaticon-data"></i> Hitachi Authorized Services Partner</h4>
                                <div class="inner-content">
                                    <p>OITC provides Hitachi design, deployment, and support services, including
                                        storage, SAN, and data migration, with certified engineers for optimized
                                        performance.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item hover-content">
                            <div class="image">
                                <img src="../resource/service5.jpg" alt="Feature">
                            </div>
                            <div class="content">
                                <h4 class="title"><i class="flaticon-protection"></i> Veritas Authorized Consulting
                                    Partner
                                </h4>
                                <div class="inner-content">
                                    <p>Veritas provides expert services to help organizations achieve key business
                                        goals, including data insights, storage, and risk management.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item hover-content">
                            <div class="image">
                                <img src="../resource/service6.jpg" alt="Feature">
                            </div>
                            <div class="content">
                                <h4 class="title"><i class="flaticon-flexibility"></i> IT Maintenance Services</h4>
                                <div class="inner-content">
                                    <p>OITC helps extend the lifecycle of IT infrastructure beyond the standard End of
                                        Life, enabling cost savings, effective planning, and minimal downtime while
                                        maximizing value.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Area end -->

        <section class="video-retro feat section-padding-30-50" id="videos-demo">
            <div class="container">
                <div class="section-heading text-center">

                    <div class="oitc-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <h2 class="d-blue fadeInUp" data-wow-delay="0.3s">Welcome to my service</h2>
                    <p class="fadeInUp" data-wow-delay="0.4s" style="color:#888">Proud to stand by your side and empower
                        your journey toward success.</p>
                </div>
                <div class="row align-items-center">
                    <!-- Welcome Video Area -->
                    <div class="col-lg-12 col-md-12  col-sm-12">
                        <div class="service-video-area fadeInUp" data-wow-delay="0.5s" id="video1">
                            <div class="service-video-thumb">
                                <iframe id="youtube-video" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="clearfix"></div>

    <!-- ##### Blog Area Start ##### -->
    <section class="our_blog_area section-padding-70-0 bgc-blue" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">

                        <div class="oitc-dots justify-content-center white fadeInUp" data-wow-delay="0.2s">
                            <span></span><span></span><span></span><span></span><span></span>
                        </div>
                        <h2 class="white-text fadeInUp" data-wow-delay="0.3s">Lastest News</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-4 col-md-6">
                    <div class="blog-item hover-content">
                        <div class="image">
                            <img src="../resource/1.jpg">
                        </div>
                        <div class="content">
                            <ul class="blog-meta">
                                <li><a href="#">HITACHI</a></li>
                                <li><a href="#">November 19, 2024</a></li>
                            </ul>
                            <h4 class="title white-text"><a
                                    href="https://www.hitachivantara.com/en-us/blog/unleash-power-of-your-ai-initiative-with-hitachi-iq">Unleash
                                    the Power of Your AI
                                    Initiative with Hitachi iQ</a></h4>
                            <div class="inner-content">
                                <p>This week’s SC24 event – The International Conference for High Performance Computing,
                                    Networking, Storage and Analysis – will celebrate groundbreaking work taking place
                                    around the world in HPC. Under the theme HPC Creates,
                                    the event brings together many of the best and brightest engineers, scientists,
                                    researchers, educators and developers from around the world. Our team at Hitachi
                                    Vantara is excited to be a part of this year’s show.</p>
                                <a class="details-btn"
                                    href="https://www.hitachivantara.com/en-us/blog/unleash-power-of-your-ai-initiative-with-hitachi-iq"><i
                                        class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="blog-item hover-content">
                        <div class="image">
                            <img src="../resource/2.jpg">
                        </div>
                        <div class="content">
                            <ul class="blog-meta">
                                <li><a href="blog.html">Veritas</a></li>
                                <li><a href="blog.html">December 10, 2024</a></li>
                            </ul>
                            <h4 class="title white-text"><a
                                    href="https://www.veritas.com/news-releases/2024-12-10-cohesity-becomes-worlds-largest-data-protection-software-provider-after-completing-combination-with-veritas-enterprise-data-protection-business">Cohesity
                                    becomes the top data
                                    protection provider after merging with Veritas</a></h4>
                            <div class="inner-content">
                                <p>Cohesity has merged with Veritas’ enterprise data protection business, becoming the
                                    world’s largest data protection software provider. Serving over 12,000 customers,
                                    including 85+ Fortune 100 companies, it now protects
                                    hundreds of exabytes of data and offers expanded workload support and a larger
                                    partner ecosystem.</p>
                                <a class="details-btn"
                                    href="https://www.veritas.com/news-releases/2024-12-10-cohesity-becomes-worlds-largest-data-protection-software-provider-after-completing-combination-with-veritas-enterprise-data-protection-business"><i
                                        class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="blog-item hover-content">
                        <div class="image">
                            <img src="../resource/3.jpg">
                        </div>
                        <div class="content">
                            <ul class="blog-meta">
                                <li><a href="blog.html">Elastic</a></li>
                                <li><a href="blog.html">November 06, 2024</a></li>
                            </ul>
                            <h4 class="title white-text"><a
                                    href="https://www.elastic.co/blog/autoops-for-elasticsearch">Managing Elasticsearch
                                    just got
                                    easier, a LOT easier</a></h4>
                            <div class="inner-content">
                                <p>Elasticsearch users, we heard you. Managing Elasticsearch can sometimes get complex,
                                    with challenges ranging from performance tuning to issue detection and resource
                                    optimization. We have been on a mission to simplify your
                                    experience. Today, we are announcing an exciting update since our acquisition of
                                    Opster.
                                </p>
                                <a class="details-btn" href="https://www.elastic.co/blog/autoops-for-elasticsearch"><i
                                        class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Area end -->

    <!-- ##### Team Area Start ##### -->
    <section class="our_team_area section-padding-30-50 clearfix" id="partner">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">

                    <div class="oitc-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">Our Partner</h2>
                </div>
            </div>
        </div>

        <div class="owl-carousel owl-carousel-5">
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-1.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-2.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-3.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-4.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-5.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-6.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-7.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-8.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-9.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-10.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-11.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-12.png" class="center-block" alt="">
                </div>
            </div>
        </div>

        <div class="owl-carousel" id="owl-carousel-5-center">
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-1.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-2.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-3.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-4.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-5.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-6.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-7.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-8.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-9.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-10.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-11.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-12.png" class="center-block" alt="">
                </div>
            </div>
        </div>

        <div class="owl-carousel owl-carousel-5">
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-1.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-2.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-3.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-4.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-5.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-6.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-7.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-8.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-9.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-10.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-11.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 item">
                <!-- Image -->
                <div class="team-member-thumb">
                    <img src="../resource/partner-logo/partner-12.png" class="center-block" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Team Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area main-footer bg-img bgc-blue" id="footer">
        <div class="footer-content-area spec">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-lg-4 col-md-6">
                        <div class="footer-copywrite-info mt-s">
                            <!-- Copywrite -->
                            <div class="about_oitc_footer fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <a href="#"><img src="../resource/logo.png" alt="logo"></a>
                                </div>
                            </div>
                            <div class="contact_info_area d-sm-flex justify-content-between">
                                <!-- Content Info -->
                                <div class="contact_info text-center fadeInUp" data-wow-delay="0.4s">
                                    <h5><b>CONTACT US</b></h5>
                                    <p><i class="fa fa-phone" aria-hidden="true"></i>&ensp;<b>Phone:</b>&nbsp;+84 243
                                        987 4599</p>
                                    <p><i class="fa fa-fax" aria-hidden="true"></i>&ensp;<b>Fax:</b>&nbsp;+84 243 987
                                        7655
                                    </p>
                                    <p><i class="fa fa-envelope"
                                            aria-hidden="true"></i>&ensp;<b>Email:</b>&nbsp;info@oitc.com.vn</p>
                                </div>
                            </div>
                            <hr>
                            <!-- Social Icon -->
                            <div class="footer-social-info fadeInUp" data-wow-delay="0.4s">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-6">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <!-- Content Info -->
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <h5><b>HEADQUATERS</b></h5>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&ensp;No.3, Tourist 12, 651 Minh
                                    Khai Str., Hanoi City, Vietnam</p>
                                <h5><b>HA NOI BRANCH</b></h5>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&ensp;No 3, Lane 90, Nguy Nhu Kon
                                    Tum street, Nhan Chinh ward, Thanh Xuan District</p>
                                <h5><b>HO CHI MINH BRANCH</b></h5>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&ensp;The 9th floor, Park 7 Tower,
                                    Central Park, Nguyen Duc Canh Street, Binh Thanh District, Ho Chi Minh City. Vietnam
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-6" id="google-map">
                        <div class="contact_info_area row-reverse">
                            <!-- Content Info -->
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d465.5916194462686!2d105.86679821097533!3d21.00333908469868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac07a621256f%3A0xe64334bfa7fb6ec3!2sOITC%20Co%2C%20Ltd.!5e0!3m2!1svi!2s!4v1740034978103!5m2!1svi!2s"
                                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                                    tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ########## All JS ########## -->
    <!-- jQuery js -->
    <script src="../resource/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="../resource/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../resource/js/bootstrap.min.js"></script>

    <script src="../resource/js/jquery.syotimer.min.js"></script>

    <!-- script js -->
    <script src="../resource/js/script.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>

    <script src="../resource/js/custom-owl.js"></script>

    <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647;"><i class="fa fa-angle-up"
            aria-hidden="true"></i></a>

    <script>
        document.querySelectorAll('.classy-navbar-toggler').forEach(function (trigger) {
            trigger.addEventListener('click', function () {
                $('.classy-menu').toggleClass("menu-on");
                $('.navbarToggler').toggleClass("active");
                $('.oitc-dark-theme').toggleClass("breakpoint-off");
                $('.oitc-dark-theme').toggleClass("breakpoint-on");
            });
        });

        document.querySelectorAll('.dd-trigger').forEach(function (trigger) {
            trigger.addEventListener('click', function () {
                $('.cn-dropdown-item').toggleClass("active");
                $('.cn-dropdown-item .dropdown').toggleClass("active");
            });
        });

        window.addEventListener('resize', function () {
            if (window.innerWidth > 991) {
                $('.cn-dropdown-item').removeClass("active");
                $('.classy-menu').removeClass("menu-on");
                $('.navbarToggler').removeClass("active");
                $('.oitc-dark-theme').removeClass("breakpoint-off");
                $('.oitc-dark-theme').removeClass("breakpoint-on");
                $('.oitc-dark-theme').addClass("breakpoint-off");
            }
        });

        function seeMoreAchived() {

            var hiddenAchived = document.getElementById("hidden-achived");

            var style = window.getComputedStyle(hiddenAchived);

            // Check if the display property is 'none'
            if (style.display === 'none') {
                document.getElementById("hidden-achived").style.display = 'flex';
                document.getElementById("button-achived").innerHTML = '<a class="details-btn" onclick="seeMoreAchived()">See Less</a>';
            } else {
                document.getElementById("hidden-achived").style.display = 'none';
                document.getElementById("button-achived").innerHTML = '<a class="details-btn" onclick="seeMoreAchived()">See More</a>';
            }
        }

        function loadRandomVideo() {
            // Array of YouTube video IDs (you can add or remove any videos)
            const videoIds = [
                "xP5-sP5WCRY", // Example video ID 1
                "Mmp9elIIlJk", // Example video ID 2
                "OT82a3yRne4", // Example video ID 3
                "Cd__p4UIXs4", // Example video ID 4
                "MXSr59lLeI0" // Example video ID 5
            ];

            // Get a random index from the array
            const randomIndex = Math.floor(Math.random() * videoIds.length);

            // Get the video ID
            const randomVideoId = videoIds[randomIndex];

            // Update the iframe's src to load the new random video
            const iframe = document.getElementById("youtube-video");
            iframe.src = `https://www.youtube.com/embed/${randomVideoId}?autoplay=1`;
        }

        // Load a random video when the page loads
        window.onload = function () {
            loadRandomVideo();
        };

        $(document).ready(function () {

            $(".owl-carousel-1").owlCarousel({
                loop: true, // Loop through the items
                nav: false, // Show next/prev buttons
                autoplay: true,
                dots: false,
                autoplayTimeout: 3000, // Delay for autoplay
                items: 1,
                autoplayHoverPause: true
            });


            $(".owl-carousel-5").owlCarousel({
                loop: true, // Loop through the items
                nav: false, // Show next/prev buttons
                dots: false,
                autoplay: true, // Auto play the carousel
                autoplayTimeout: 0,
                autoplaySpeed: 2000, // Delay for autoplay
                slideTransition: 'linear',
                // autoplayHoverPause: true // Pause autoplay on hover
                responsive: {
                    0: {
                        items: 1
                    },
                    767: {
                        items: 2
                    },
                    1400: {
                        items: 4
                    }
                }
            });

            $("#owl-carousel-5-center").owlCarousel({
                center: true,
                loop: true, // Loop through the items
                nav: false, // Show next/prev buttons
                dots: false,
                autoplay: true, // Auto play the carousel
                autoplayTimeout: 0,
                autoplaySpeed: 2000, // Delay for autoplay
                slideTransition: 'linear',
                // autoplayHoverPause: true // Pause autoplay on hover
                responsive: {
                    0: {
                        items: 1
                    },
                    767: {
                        items: 2
                    },
                    1400: {
                        items: 4
                    }
                }
            });
        });
    </script>

</body>

</html>