<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Trang chủ</title>

    <!-- Favicon -->
    <link rel="icon" href="../resource/logo1.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../resource/css/style.css">
    <link rel="stylesheet" href="../resource/css/cus-style.css">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="../resource/css/responsive.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

</head>

<body class="light-version">



    <!-- ##### Header Area Start ##### -->
    <header class="header-area wow fadeInDown" data-wow-delay="0.2s">
        <div class="classy-nav-container oitc-dark-theme dark breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="dreamNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index-2.html"><img src="../resource/logo.png" alt="logo"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="main.html">Home</a>
                                </li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li class="cn-dropdown-item has-down pr12">
                                    <a>Product & Solution</a>
                                    <ul class="dropdown">
                                        <li><a href="product.html#storage">Storage</a></li>
                                        <li><a href="product.html#data-protection">Data Protection </a></li>
                                        <li><a href="product.html#solution">Solution </a></li>
                                    </ul>
                                    <span class="dd-trigger"></span><span class="dd-arrow"></span>
                                </li>
                                <li><a href="services.html">Service</a></li>
                                <li><a href="blog.html">News</a></li>
                                <li><a href="#footer">Contact</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Welcome Area Start ##### -->
    <div class="breadcumb-area clearfix dzsparallaxer auto-init mode-scroll animation-engine-js dzsprx-readyall" data-options="{direction: &quot;normal&quot;}">
        <div class="divimage dzsparallaxer--target" style="width: 100%; height: 100%; background-image: url(&quot;../resource/17927.jpg&quot;); transform: translate3d(0px, -84.5495px, 0px);"></div>
        <!-- breadcumb content -->
        <div class="breadcumb-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                            <h2 class="w-text title wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Product & Solution</h2>
                            <ol class="breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                <li class="breadcrumb-item"><a href="main.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product & Solution</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Welcome Area End ##### -->

    <div class="clearfix"></div>

    <section class="our_blog_area section-padding-70-0" id="storage">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">

                        <div class="oitc-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                            <span></span><span></span><span></span><span></span><span></span>
                        </div>
                        <h2 class="fadeInUp" data-wow-delay="0.3s">Our Storage Product</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-4 col-md-6 aos-init" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1500" data-aos-offset="50">
                    <div class="blog-item hover-content">
                        <div class="image product">
                            <img src="../resource/product-1.jpg" alt="Blog" width="unset">
                        </div>
                        <div class="content white">
                            <ul class="blog-meta">
                                <li><a href="https://www.hitachivantara.com/en-us/products/storage-platforms/block-storage/enterprise">STORAGE</a></li>
                            </ul>
                            <h4 class="title"><a href="https://www.hitachivantara.com/en-us/products/storage-platforms/block-storage/enterprise">Enterprise Storage Hitachi Vantara VSP 5000 Series</a></h4>
                            <div class="inner-content">
                                <p><b>Performance</b> The VSP 5000 Series delivers superior application performance, and AI-optimized operations.
                                    <br><b>Resiliency and availability</b> The 100% data availability guarantee ensures that your company meets information availability requirements.
                                    <br><b>Scalability</b> Flexibly scale up and out to 33M IOPS and 69PB of capacity with latency as low as 39 microseconds.
                                    <br><b>Smart Data Reduction</b> Up to 4:1 effective capacity, guaranteed
                                </p>
                                <a class="details-btn" href="https://www.hitachivantara.com/en-us/products/storage-platforms/block-storage/enterprise"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 aos-init" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1500" data-aos-offset="50">
                    <div class="blog-item hover-content">
                        <div class="image product">
                            <img src="../resource/product-2.jpg" alt="Blog" width="unset">
                        </div>
                        <div class="content white">
                            <ul class="blog-meta">
                                <li><a href="https://www.hitachivantara.com/en-us/products/storage-platforms/block-storage/enterprise">STORAGE</a></li>
                            </ul>
                            <h4 class="title">
                                <a href="https://www.hitachivantara.com/en-us/products/storage-platforms/block-storage/enterprise">Midrange Storage: VSP One Block</a>
                            </h4>
                            <div class="inner-content">
                                <p><b>Power of Simplicity</b> Virtual Storage Platform One (VSP One) Block makes data storage easy, eliminate complexity while maximizing data availability, security, and efficiency.
                                    <br><b>Capacity</b> A compact 2U powerhouse with 32 host ports upto 3.6PBe
                                    <br><b>Resiliency and availability</b> The 100% data availability guarantee ensures that your company meets information availability requirements.
                                    <br><b>Smart Data Reduction</b> Up to 4:1 effective capacity, guaranteed
                                </p>
                                <a class="details-btn" href="https://www.hitachivantara.com/en-us/products/storage-platforms/block-storage/enterprise"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 aos-init" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1500" data-aos-offset="50">
                    <div class="blog-item hover-content">
                        <div class="image product">
                            <img src="../resource/product-3.jpg" alt="Blog" width="unset">
                        </div>
                        <div class="content white">
                            <ul class="blog-meta">
                                <li><a href="https://www.hitachivantara.com/en-us/products/storage-platforms/block-storage/enterprise">STORAGE</a></li>
                            </ul>
                            <h4 class="title"><a href="https://www.hitachivantara.com/en-us/products/storage-platforms/block-storage/enterprise">Midrange Storage: VSP E Series</a></h4>
                            <div class="inner-content">
                                <p><b>Simplicity</b> The entire VSP portfolio shares the same operating system and data services for consistent, simple, and streamlined application delivery, with savings up to 90%.
                                    <br><b>Efficiency</b> AI-powered software tools simplify management and improve IT operational efficiencies.
                                    <br><b>Scalability</b> Scale out with nondisruptive workload mobility across the cluster — up to 65 nodes and 130 controllers.
                                    <br><b>Capacity</b> Advanced data reduction technology offers a 4:1 data-reduction guarantee, freeing capacity across your entire environment.
                                </p>
                                <a class="details-btn" href="https://www.hitachivantara.com/en-us/products/storage-platforms/block-storage/enterprise"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 aos-init" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1500" data-aos-offset="50">
                    <div class="blog-item hover-content">
                        <div class="image product">
                            <img src="../resource/product-4.jpg" alt="Blog" width="unset">
                        </div>
                        <div class="content white">
                            <ul class="blog-meta">
                                <li><a href="https://www.hitachivantara.com/en-us/products/storage-platforms/block-storage/enterprise">STORAGE</a></li>
                            </ul>
                            <h4 class="title"><a href="https://www.hitachivantara.com/en-us/products/storage-platforms/block-storage/enterprise">Virtual Storage Platform One File</a></h4>
                            <div class="inner-content">
                                <p><b>Intuitive, simplified UI and management</b> VSP One File offers an easy and modern way to manage, monitor, and configure file systems, data, and users across the organization. Reduce setup time by up to 50%.
                                    <br><b>Ultimate data protection and data governance </b> Featuring the latest security features to defend your data and users against breaches, ransomware, and malicious actors.
                                    <br><b>True hybrid cloud readiness </b> Nearcloud deployment for ultra-low latency, secure connection from enterprise to public cloud.
                                </p>
                                <a class="details-btn" href="https://www.hitachivantara.com/en-us/products/storage-platforms/block-storage/enterprise"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our_blog_area section-padding-70-0 bgc-blue" id="data-protection">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">

                        <div class="oitc-dots justify-content-center white fadeInUp" data-wow-delay="0.2s">
                            <span></span><span></span><span></span><span></span><span></span>
                        </div>
                        <h2 class="white-text fadeInUp" data-wow-delay="0.3s">Our Data Protection Product</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-4 col-md-6 aos-init" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1500" data-aos-offset="50">
                    <div class="blog-item hover-content">
                        <div class="image product white-bg">
                            <img src="../resource/dp1.jpg" alt="Blog">
                        </div>
                        <div class="content">
                            <ul class="blog-meta">
                                <li><a href="https://www.veritas.com/protection/netbackup">VERITAS</a></li>
                            </ul>
                            <h4 class="title white-text"><a href="https://www.veritas.com/protection/netbackup">NetBackup Flex Appliances</a></h4>
                            <div class="inner-content">
                                <p><b>Secure</b> Leverage multi-layer cyber resilience to protect against all attack vectors.<br>
                                    <b>Simple</b> Get turnkey NetBackup software data protection up and running in minutes.<br>
                                    <b>Scalable</b> Deploy enterprise-level protection across a wide range of workload types.
                                </p>
                                <a class="details-btn" href="https://www.veritas.com/protection/netbackup"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 aos-init" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1500" data-aos-offset="50">
                    <div class="blog-item hover-content">
                        <div class="image product white-bg">
                            <img src="../resource/dp2.jpg" alt="Blog">
                        </div>
                        <div class="content">
                            <ul class="blog-meta">
                                <li><a href="https://www.veritas.com/protection/netbackup">VERITAS</a></li>
                            </ul>
                            <h4 class="title white-text"><a href="https://www.veritas.com/protection/netbackup">NetBackup Access Appliances</a></h4>
                            <div class="inner-content">
                                <p><b>Secure</b> Protect against all attack vectors with multi-layer cyber resilience.<br>
                                    <b>Simple</b> Easily deploy long-term data retention through deep integration with NetBackup.<br>
                                    <b>Scalable</b> Adapt to evolving environments with up to 2.8 petabytes of cost-effective storage.
                                </p>
                                <a class="details-btn" href="https://www.veritas.com/protection/netbackup"><i class="fa fa-arrow-right"></i></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 aos-init" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1500" data-aos-offset="50">
                    <div class="blog-item hover-content">
                        <div class="image product white-bg">
                            <img src="../resource/dp3.jpg" alt="Blog">
                        </div>
                        <div class="content">
                            <ul class="blog-meta">
                                <li><a href="https://www.veritas.com/protection/netbackup">VERITAS</a></li>
                            </ul>
                            <h4 class="title white-text"><a href="https://www.veritas.com/protection/netbackup">Veritas Netbackup</a></h4>
                            <div class="inner-content">
                                <p><b>Cyber Resilient</b> Recover business-critical data with active cyber defenses.<br>
                                    <b>Hybrid Cloud Optimized</b> Manage and eliminate the complexity of hybrid multi-cloud environments.<br>
                                    <b>Automated Operations</b> Deliver more cost-effective and sustainable data protection.
                                </p>
                                <a class="details-btn" href="https://www.veritas.com/protection/netbackup"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our_blog_area section-padding-70-0" id="solution">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">

                        <div class="oitc-dots justify-content-center  fadeInUp" data-wow-delay="0.2s">
                            <span></span><span></span><span></span><span></span><span></span>
                        </div>
                        <h2 class=" fadeInUp" data-wow-delay="0.3s">Our Solution</h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="card-section-subpage">
                        <div class="card-sub">
                            <div class="contain-list-img">
                                <img src="../resource/solution1.jpg" alt="">
                            </div>
                            <div class="bounder-content">
                                <a class="title-list-blog-font" href="solution-details1.html">Data Protection solution</a>
                            </div>
                            <div class="content-card-blog-font">
                                OITC works to extend the usable lifecycle of business’ IT infrastructure past the point where most would have replaced their equipment.
                            </div>
                            <a class="btn oitc-btn mt-15" style="margin-left: 10px;" href="solution-details1.html">Read Details</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="card-section-subpage">
                        <div class="card-sub">
                            <div class="contain-list-img">
                                <img src="../resource/solution2.jpg" alt="">
                            </div>
                            <div class="bounder-content">
                                <a class="title-list-blog-font" href="solution-details2.html">Storage System Solutions</a>
                            </div>
                            <div class="content-card-blog-font">
                                OITC works to extend the usable lifecycle of business’ IT infrastructure past the point where most would have replaced their equipment.
                            </div>
                            <a class="btn oitc-btn mt-15" style="margin-left: 10px;" href="solution-details2.html">Read Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area main-footer bg-img bgc-blue" id="footer">
        <div class="footer-content-area spec">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-lg-4 col-md-6">
                        <div class="footer-copywrite-info mt-s">
                            <!-- Copywrite -->
                            <div class="about_oitc_footer fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <a href="#"><img src="../resource/logo.png" alt="logo"></a>
                                </div>
                            </div>
                            <div class="contact_info_area d-sm-flex justify-content-between">
                                <!-- Content Info -->
                                <div class="contact_info text-center fadeInUp" data-wow-delay="0.4s">
                                    <h5><b>CONTACT US</b></h5>
                                    <p><i class="fa fa-phone" aria-hidden="true"></i>&ensp;<b>Phone:</b>&nbsp;+84 243 987 4599</p>
                                    <p><i class="fa fa-fax" aria-hidden="true"></i>&ensp;<b>Fax:</b>&nbsp;+84243 9877655
                                    </p>
                                    <p><i class="fa fa-envelope" aria-hidden="true"></i>&ensp;<b>Email:</b>&nbsp;@oitc.com.vn</p>
                                </div>
                            </div>
                            <hr>
                            <!-- Social Icon -->
                            <div class="footer-social-info fadeInUp" data-wow-delay="0.4s">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-6">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <!-- Content Info -->
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <h5><b>HEADQUATERS</b></h5>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&ensp;No.3, Tourist 12, 651 Minh Khai Str., Hanoi City, Vietnam</p>
                                <h5><b>HA NOI BRANCH</b></h5>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&ensp;No 3, Lane 90, Nguy Nhu Kon Tum street, Nhan Chinh ward, Thanh Xuan District</p>
                                <h5><b>HO CHI MINH BRANCH</b></h5>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&ensp;The 9th floor, Park 7 Tower, Central Park, Nguyen Duc Canh Street, Binh Thanh District, Ho Chi Minh City. Vietnam
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-6" id="google-map">
                        <div class="contact_info_area row-reverse">
                            <!-- Content Info -->
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d465.5916194462686!2d105.86679821097533!3d21.00333908469868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac07a621256f%3A0xe64334bfa7fb6ec3!2sOITC%20Co%2C%20Ltd.!5e0!3m2!1svi!2s!4v1740034978103!5m2!1svi!2s"
                                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ########## All JS ########## -->
    <!-- jQuery js -->
    <script src="../resource/js/jquery.min.js "></script>
    <!-- Popper js -->
    <script src="../resource/js/popper.min.js "></script>
    <!-- Bootstrap js -->
    <script src="../resource/js/bootstrap.min.js "></script>

    <script src="../resource/js/jquery.syotimer.min.js "></script>

    <!-- script js -->
    <script src="../resource/js/script.js "></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js "></script>

    <a id="scrollUp " href="#top " style="position: fixed; z-index: 2147483647; "><i class="fa fa-angle-up "
            aria-hidden="true "></i></a>

    <script>
        document.querySelectorAll('.classy-navbar-toggler').forEach(function(trigger) {
            trigger.addEventListener('click', function() {
                $('.classy-menu').toggleClass("menu-on ");
                $('.navbarToggler').toggleClass("active ");
                $('.oitc-dark-theme').toggleClass("breakpoint-off ");
                $('.oitc-dark-theme').toggleClass("breakpoint-on ");
            });
        });

        document.querySelectorAll('.dd-trigger').forEach(function(trigger) {
            trigger.addEventListener('click', function() {
                $('.cn-dropdown-item').toggleClass("active ");
                $('.cn-dropdown-item .dropdown').toggleClass("active ");
            });
        });

        window.addEventListener('resize', function() {
            if (window.innerWidth > 991) {
                $('.cn-dropdown-item').removeClass("active ");
                $('.classy-menu').removeClass("menu-on ");
                $('.navbarToggler').removeClass("active ");
                $('.oitc-dark-theme').removeClass("breakpoint-off ");
                $('.oitc-dark-theme').removeClass("breakpoint-on ");
                $('.oitc-dark-theme').addClass("breakpoint-off ");
            }
        });
    </script>

</body>

</html>