<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Dịch vụ và giải pháp</title>

    <!-- Favicon -->
    <link rel="icon" href="../resource/logo.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../resource/css/style.css">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="../resource/css/responsive.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

</head>

<body class="light-version">
    <!-- Preloader -->


    <!-- ##### Header Area Start ##### -->
    <header class="header-area wow fadeInDown" data-wow-delay="0.2s">
        <div class="classy-nav-container dark left breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="dreamNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index-2.html"><img src="../resource/logo.png" alt="logo"> OITC</a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="main.html">Home</a>
                                </li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="product.html">Product</a></li>
                                <li><a href="services.html">Service & Solution</a></li>
                                <li class="cn-dropdown-item has-down pr12"><a href="#blog">Blog</a>
                                    <ul class="dropdown">
                                        <li><a href="blog.html">Blog Posts</a></li>
                                        <li><a href="share.html">Knowledge Share </a></li>
                                    </ul>
                                    <span class="dd-trigger"></span><span class="dd-arrow"></span></li>
                                <li><a href="#footer">Contact</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Welcome Area Start ##### -->
    <section class="welcome_area demo2 flex align-items-center">

        <div class="container">
            <div class="row align-items-center">
                <!-- Welcome Content -->
                <div class="col-12 col-lg-6 col-md-12">
                    <div class="welcome-content v2">
                        <div class="promo-section">
                            <div class="integration-link light">
                                <span class="integration-icon">
                                    <img src="../resource/img-dollar.svg" width="24" height="24" alt="">
                                </span>
                                <span class="integration-text">About My Service And Solution!</span>
                            </div>
                        </div>
                        <h1 class="wow fadeInUp w-text" data-wow-delay="0.2s">IT Solution and Service</h1>
                        <p class="wow fadeInUp" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at dictum risus, non suscipit arcu Quisque aliquam posuere tortor, sit amet convallis nunc scelerisque in.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ##### Blog Area Start ##### -->
    <section class="our_blog_area section-padding-70-0" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">

                        <div class="dream-dots justify-content-center  fadeInUp" data-wow-delay="0.2s">
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                        <h2 class=" fadeInUp" data-wow-delay="0.3s">Our Solution</h2>
                        <p class=" fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo. </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">

                <!-- Single Blog Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area fadeInUp" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="../resource/1.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">
                            <a class="post-title" href="blog-details.html">
                                <h4>How to become a successful businessman.</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione sapiente repellat.</p>
                            <a class="btn dream-btn mt-15" href="blog-details.html">Read Details</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area fadeInUp" data-wow-delay="0.3s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="../resource/2.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">
                            <a class="post-title" href="blog-details.html">
                                <h4>How to become a successful businessman.</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione sapiente repellat.</p>
                            <a class="btn dream-btn mt-15" href="blog-details.html">Read Details</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area fadeInUp" data-wow-delay="0.4s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="../resource/3.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">
                            <a class="post-title" href="blog-details.html">
                                <h4>How to become a successful businessman.</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione sapiente repellat.</p>
                            <a class="btn dream-btn mt-15" href="blog-details.html">Read Details</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area fadeInUp" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="../resource/1.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">
                            <a class="post-title" href="blog-details.html">
                                <h4>How to become a successful businessman.</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione sapiente repellat.</p>
                            <a class="btn dream-btn mt-15" href="blog-details.html">Read Details</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area fadeInUp" data-wow-delay="0.3s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="../resource/2.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">
                            <a class="post-title" href="blog-details.html">
                                <h4>How to become a successful businessman.</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione sapiente repellat.</p>
                            <a class="btn dream-btn mt-15" href="blog-details.html">Read Details</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area fadeInUp" data-wow-delay="0.4s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="../resource/3.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">
                            <a class="post-title" href="blog-details.html">
                                <h4>How to become a successful businessman.</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione sapiente repellat.</p>
                            <a class="btn dream-btn mt-15" href="blog-details.html">Read Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <section class="our_blog_area section-padding-70-0" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">

                        <div class="dream-dots justify-content-center  fadeInUp" data-wow-delay="0.2s">
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                        <h2 class=" fadeInUp" data-wow-delay="0.3s">Our Service</h2>
                        <p class=" fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo. </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">

                <!-- Single Blog Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area fadeInUp" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="../resource/1.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">
                            <a class="post-title" href="blog-details.html">
                                <h4>How to become a successful businessman.</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione sapiente repellat.</p>
                            <a class="btn dream-btn mt-15" href="blog-details.html">Read Details</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area fadeInUp" data-wow-delay="0.3s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="../resource/2.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">
                            <a class="post-title" href="blog-details.html">
                                <h4>How to become a successful businessman.</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione sapiente repellat.</p>
                            <a class="btn dream-btn mt-15" href="blog-details.html">Read Details</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area fadeInUp" data-wow-delay="0.4s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="../resource/3.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">
                            <a class="post-title" href="blog-details.html">
                                <h4>How to become a successful businessman.</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione sapiente repellat.</p>
                            <a class="btn dream-btn mt-15" href="blog-details.html">Read Details</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area fadeInUp" data-wow-delay="0.2s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="../resource/1.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">
                            <a class="post-title" href="blog-details.html">
                                <h4>How to become a successful businessman.</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione sapiente repellat.</p>
                            <a class="btn dream-btn mt-15" href="blog-details.html">Read Details</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area fadeInUp" data-wow-delay="0.3s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="../resource/2.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">
                            <a class="post-title" href="blog-details.html">
                                <h4>How to become a successful businessman.</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione sapiente repellat.</p>
                            <a class="btn dream-btn mt-15" href="blog-details.html">Read Details</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-area fadeInUp" data-wow-delay="0.4s">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="../resource/3.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">
                            <a class="post-title" href="blog-details.html">
                                <h4>How to become a successful businessman.</h4>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugiat at vitae, ratione sapiente repellat.</p>
                            <a class="btn dream-btn mt-15" href="blog-details.html">Read Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img" id="footer">

        <div class="footer-content-area spec">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-lg-4 col-md-6">
                        <div class="footer-copywrite-info">
                            <!-- Copywrite -->
                            <div class="copywrite_text fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <a href="#"><img src="../resource/logo.png" alt="logo"> OITC </a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ducimus voluptatibus neque illo id repellat quisquam? Autem expedita earum quae laborum ipsum ad.</p>
                            </div>
                            <!-- Social Icon -->
                            <div class="footer-social-info fadeInUp" data-wow-delay="0.4s">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-5 col-md-6">
                    </div>

                    <div class="col-12 col-lg-3 col-md-6 ">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <!-- Content Info -->
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <h5>CONTACT US</h5>
                                <p>Time Tower, .....</p>
                                <p>+999 99999 999</p>
                                <p>support@yourdomain.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ########## All JS ########## -->
    <!-- jQuery js -->
    <script src="../resource/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="../resource/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../resource/js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../resource/js/plugins.js"></script>
    <!-- Parallax js -->
    <script src="../resource/js/dzsparallaxer.js"></script>

    <script src="../resource/js/jquery.syotimer.min.js"></script>

    <!-- script js -->
    <script src="../resource/js/script.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <a id="scrollUp" href="#top" style="display: none; position: fixed; z-index: 2147483647;">Scroll Top</a>

    <script>
        function choose(el, id) {
            let boundActiveVideo = document.getElementsByClassName('services-block-four');
            for (let i = 0; i < boundActiveVideo.length; i++) {
                boundActiveVideo[i].classList.remove('active')
            }
            let boundVideo = document.getElementsByClassName('welcome-video-area');
            for (let i = 0; i < boundVideo.length; i++) {
                boundVideo[i].style.display = 'none';
            }
            document.getElementById(id).style.removeProperty('display');
            $(el).addClass("active");
        }

        function seeMoreAchived() {

            var hiddenAchived = document.getElementById("hidden-achived");

            var style = window.getComputedStyle(hiddenAchived);

            // Check if the display property is 'none'
            if (style.display === 'none') {
                document.getElementById("hidden-achived").style.display = 'flex';
                document.getElementById("button-achived").innerHTML = '<a class="btn dream-btn mt-15" onclick="seeMoreAchived()">See Less</a>';
            } else {
                document.getElementById("hidden-achived").style.display = 'none';
                document.getElementById("button-achived").innerHTML = '<a class="btn dream-btn mt-15" onclick="seeMoreAchived()">See More</a>';
            }
        }

        $(document).ready(function() {
            $("#owl-carousel-1").owlCarousel({
                items: 1, // Number of items to show
                loop: true, // Loop through the items
                nav: false, // Show next/prev buttons
                autoplay: true, // Auto play the carousel
                autoplayTimeout: 1000, // Delay for autoplay
                autoplayHoverPause: true // Pause autoplay on hover
            });

            $("#owl-carousel-5").owlCarousel({
                items: 4, // Number of items to show
                loop: true, // Loop through the items
                nav: false, // Show next/prev buttons
                autoplay: true, // Auto play the carousel
                autoplayTimeout: 500, // Delay for autoplay
                autoplayHoverPause: true // Pause autoplay on hover
            });

            $("#owl-carousel-5-clone").owlCarousel({
                items: 4, // Number of items to show
                loop: true, // Loop through the items
                nav: false, // Show next/prev buttons
                autoplay: true, // Auto play the carousel
                autoplayTimeout: 500, // Delay for autoplay
                autoplayHoverPause: true // Pause autoplay on hover
            });

            $("#owl-carousel-5-center").owlCarousel({
                center: true,
                items: 4, // Number of items to show
                loop: true, // Loop through the items
                nav: false, // Show next/prev buttons
                autoplay: true, // Auto play the carousel
                autoplayTimeout: 500, // Delay for autoplay
                autoplayHoverPause: true // Pause autoplay on hover
            });
        });
    </script>

</body>

</html>