<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Trang chủ</title>

    <!-- Favicon -->
    <link rel="icon" href="../resource/logo1.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="../resource/css/style.css">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="../resource/css/responsive.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

</head>

<body class="light-version">



    <!-- ##### Header Area Start ##### -->
    <header class="header-area wow fadeInDown" data-wow-delay="0.2s">
        <div class="classy-nav-container oitc-dark-theme dark breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="dreamNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index-2.html"><img src="../resource/logo.png" alt="logo"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="main.html">Home</a>
                                </li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="product.html">Product & Solution</a></li>
                                <li><a href="services.html">Service</a></li>
                                <li class="cn-dropdown-item has-down pr12"><a href="#blog">News</a>
                                    <ul class="dropdown">
                                        <li><a href="blog.html">OITC News</a></li>
                                        <li><a href="share.html">OITC Experience </a></li>
                                    </ul>
                                    <span class="dd-trigger"></span><span class="dd-arrow"></span>
                                </li>
                                <li><a href="#footer">Contact</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Welcome Area Start ##### -->
    <div class="breadcumb-area clearfix dzsparallaxer auto-init mode-scroll animation-engine-js dzsprx-readyall" data-options="{direction: &quot;normal&quot;}">
        <div class="divimage dzsparallaxer--target" style="width: 100%; height: 100%; background-image: url(&quot;../resource/17927.jpg&quot;); transform: translate3d(0px, -84.5495px, 0px);"></div>
        <!-- breadcumb content -->
        <div class="breadcumb-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                            <h2 class="w-text title wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Services</h2>
                            <ol class="breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                <li class="breadcrumb-item"><a href="main.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="services.html">Services</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Service Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Welcome Area End ##### -->

    <div class="clearfix"></div>

    <section class="blog-area section-padding-150-0">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-9">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <!-- Post Thumbnail -->
                        <div class="blog_thumbnail">
                            <img src="../resource/1.jpg" alt="">
                        </div>
                        <!-- Post Content -->
                        <div class="blog-content">

                            <div class="oitc-dots mt-30">
                                <span></span><span></span><span></span><span></span><span></span>
                            </div>
                            <h4 class="post-title">About IT Maintenance Services.</h4>
                            <p>OITC works to extend the usable lifecycle of business’ IT infrastructure past the point where most would have replaced their equipment.</p>
                            <p>The standard End of Life point for most IT equipment is just the point at which the manufacturer stops offering service support – but when OITC steps in, this point need not be the end of anything at all.</p>
                            <p>Avoiding prematurely replacing IT equipment allows for IT Infrastructure Managers to plan effectively, save money, and extend business-as-usual services with as little downtime for the end user as possible. Working past the
                                regular End of Life status for equipment allows for future strategic planning and enhances the value IT infrastructure provides.</p>
                            <blockquote>
                                <h5>"OITC is a pioneer in providing maintenance services in Vietnam."</h5>
                            </blockquote>
                            <p><b>Maintenance Benefits Include:</b></p>
                            <p>• Highly experienced and expert engineers</p>
                            <p>• Customizable service level agreements</p>
                            <p style="padding-left: 12px;">A service-level agreement (SLA) defines the level of service you expect from a supplier, presenting the metrics by which service is measured and remedies or penalties should agreed-on service levels not be achieved. It is an
                                essential element of any technology contract.</p>
                            <p style="padding-left: 12px;"> <b> Our Standard SLA Offerings:</b> </p>
                            <p style="padding-left: 12px;">- BASIC: 9×5 Next Business Day (customer replaceable unit) parts.
                                <br>- ENHANCED: 9×5 Field Engineer onsite Next Business Day with parts.
                                <br>- PREMIUM: 24x7x4 Field Engineer onsite within 4 hours of diagnosis with parts.
                            </p>
                            <p style="padding-left: 12px;">Additionally, OITC offers customizable SLA’s as defined by a Statement of Work (SOW) to meet your specific requirements (e.g. Call to Repair, parts on-site, and/or dedicated Field Engineers). Please contact your sales team
                                for additional information regarding our SLA’s or to arrange for the creation of a unique SOW.</p>
                            <p>• Flexible, short-term contracts</p>
                            <p>• 24×7 support model</p>
                            <p>• Large parts inventory</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="sidebar-area">
                        <!-- Don't Miss Widget -->
                        <div class="donnot-miss-widget mb-50">
                            <div class="widget-title wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                <h5>Don't miss</h5>
                            </div>
                            <!-- Single Don't Miss Post -->
                            <div class="single-dont-miss-post mb-30 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                <div class="dont-miss-post-thumb">
                                    <img src="../resource/1.jpg" alt="">
                                </div>
                                <div class="dont-miss-post-content">
                                    <a href="service-details1.html">IT Maintenance Services</a>
                                </div>
                            </div>
                            <!-- Single Don't Miss Post -->
                            <div class="single-dont-miss-post mb-30 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                <div class="dont-miss-post-thumb">
                                    <img src="../resource/2.jpg" alt="">
                                </div>
                                <div class="dont-miss-post-content">
                                    <a href="service-details2.html">Hitachi Authorized Services Partner</a>
                                </div>
                            </div>
                            <!-- Single Don't Miss Post -->
                            <div class="single-dont-miss-post wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                                <div class="dont-miss-post-thumb">
                                    <img src="../resource/3.jpg" alt="">
                                </div>
                                <div class="dont-miss-post-content">
                                    <a href="service-details3.html">Veritas Authorized Consulting Partner</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img" id="footer">

        <div class="footer-content-area spec">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-lg-4 col-md-6">
                        <div class="footer-copywrite-info mt-s">
                            <!-- Copywrite -->
                            <div class="about_oitc_footer fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <a href="#"><img src="../resource/logo.png" alt="logo"></a>
                                </div>
                            </div>
                            <div class="contact_info_area d-sm-flex justify-content-between">
                                <!-- Content Info -->
                                <div class="contact_info text-center fadeInUp" data-wow-delay="0.4s">
                                    <h5><b>CONTACT US</b></h5>
                                    <p><i class="fa fa-phone" aria-hidden="true"></i>&ensp;<b>Phone:</b>&nbsp;+84 243 987 4599</p>
                                    <p><i class="fa fa-fax" aria-hidden="true"></i>&ensp;<b>Fax:</b>&nbsp;+84243 9877655
                                    </p>
                                    <p><i class="fa fa-envelope" aria-hidden="true"></i>&ensp;<b>Email:</b>&nbsp;@oitc.com.vn</p>
                                </div>
                            </div>
                            <hr>
                            <!-- Social Icon -->
                            <div class="footer-social-info fadeInUp" data-wow-delay="0.4s">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-6">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <!-- Content Info -->
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <h5><b>HEADQUATERS</b></h5>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&ensp;No.3, Tourist 12, 651 Minh Khai Str., Hanoi City, Vietnam</p>
                                <h5><b>HA NOI BRANCH</b></h5>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&ensp;No 3, Lane 90, Nguy Nhu Kon Tum street, Nhan Chinh ward, Thanh Xuan District</p>
                                <h5><b>HO CHI MINH BRANCH</b></h5>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&ensp;The 9th floor, Park 7 Tower, Central Park, Nguyen Duc Canh Street, Binh Thanh District, Ho Chi Minh City. Vietnam
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-6" id="google-map">
                        <div class="contact_info_area row-reverse">
                            <!-- Content Info -->
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d465.5916194462686!2d105.86679821097533!3d21.00333908469868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac07a621256f%3A0xe64334bfa7fb6ec3!2sOITC%20Co%2C%20Ltd.!5e0!3m2!1svi!2s!4v1740034978103!5m2!1svi!2s"
                                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ########## All JS ########## -->
    <!-- jQuery js -->
    <script src="../resource/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="../resource/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../resource/js/bootstrap.min.js"></script>

    <script src="../resource/js/jquery.syotimer.min.js"></script>

    <!-- script js -->
    <script src="../resource/js/script.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647;"><i class="fa fa-angle-up"
            aria-hidden="true"></i></a>

    <script>
        document.querySelectorAll('.classy-navbar-toggler').forEach(function(trigger) {
            trigger.addEventListener('click', function() {
                $('.classy-menu').toggleClass("menu-on");
                $('.navbarToggler').toggleClass("active");
                $('.oitc-dark-theme').toggleClass("breakpoint-off");
                $('.oitc-dark-theme').toggleClass("breakpoint-on");
            });
        });

        document.querySelectorAll('.dd-trigger').forEach(function(trigger) {
            trigger.addEventListener('click', function() {
                $('.cn-dropdown-item').toggleClass("active");
                $('.cn-dropdown-item .dropdown').toggleClass("active");
            });
        });

        window.addEventListener('resize', function() {
            if (window.innerWidth > 991) {
                $('.cn-dropdown-item').removeClass("active");
                $('.classy-menu').removeClass("menu-on");
                $('.navbarToggler').removeClass("active");
                $('.oitc-dark-theme').removeClass("breakpoint-off");
                $('.oitc-dark-theme').removeClass("breakpoint-on");
                $('.oitc-dark-theme').addClass("breakpoint-off");
            }
        });
    </script>

</body>

</html>