.features-area {
    z-index: 1;
    position: relative;
}

.features-area:before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 50%;
    background: -webkit-linear-gradient(top, rgba(252, 85, 70, 0.06) 0%, rgba(252, 85, 70, 0) 100%);
    background: -o-linear-gradient(top, rgba(252, 85, 70, 0.06) 0%, rgba(252, 85, 70, 0) 100%);
    background: linear-gradient(180deg, rgba(252, 85, 70, 0.06) 0%, rgba(252, 85, 70, 0) 100%);
}

.bgc-blue {
    background-color: #021433;
}

.white-text {
    color: #fff;
}

.white-bg {
    background-color: #fff;
}


/* Position */

.rel {
    position: relative;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
}

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.z-7 {
    z-index: 7;
}

.z-8 {
    z-index: 8;
}

.z-9 {
    z-index: 9;
}

.z-10 {
    z-index: 10;
}

.z-11 {
    z-index: 11;
}

.z-12 {
    z-index: 12;
}

.z-13 {
    z-index: 13;
}

.z-14 {
    z-index: 14;
}

.z-15 {
    z-index: 15;
}

.overlay {
    z-index: 1;
    position: relative;
}

.overlay::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.9;
    background-color: var(--tekprof-heading-color);
}

.overlay:before {
    mix-blend-mode: multiply;
}

.features-area {
    z-index: 1;
    position: relative;
}

.features-area:before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(252, 85, 70, 0.06)), to(rgba(252, 85, 70, 0)));
    background: -webkit-linear-gradient(top, rgba(252, 85, 70, 0.06) 0%, rgba(252, 85, 70, 0) 100%);
    background: -o-linear-gradient(top, rgba(252, 85, 70, 0.06) 0%, rgba(252, 85, 70, 0) 100%);
    background: linear-gradient(180deg, rgba(252, 85, 70, 0.06) 0%, rgba(252, 85, 70, 0) 100%);
}

.features-bg {
    z-index: 2;
    position: relative;
}

.features-bg:before {
    content: '';
    z-index: -1;
    position: absolute;
    left: -10%;
    top: 0;
    background: white;
    width: 120%;
    height: 100%;
}

.featuer-item {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 75px;
}

.featuer-item .image img {
    width: 100%;
}

.featuer-item .content {
    width: 86%;
    position: absolute;
    left: 7%;
    bottom: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: white;
    text-align: center;
    padding: 25px 33px 12px;
    -webkit-box-shadow: 10px 4px 60px rgba(24, 17, 35, 0.1);
    box-shadow: 10px 4px 60px rgba(24, 17, 35, 0.1);
}

@media only screen and (max-width: 375px) {
    .featuer-item .content {
        left: 5%;
        width: 90%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.featuer-item .content .title {
    margin-bottom: 5px;
}

@media only screen and (max-width: 375px) {
    .featuer-item .content .title {
        font-size: 22px;
        margin-bottom: 8px;
    }
}

.featuer-item .content p {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.featuer-item .content .read-more {
    margin-top: -7px;
    margin-bottom: 12px;
}

.featuer-item:hover .content {
    background: #FBC531;
    -webkit-box-shadow: 10px 4px 60px rgba(252, 85, 70, 0.5);
    box-shadow: 10px 4px 60px rgba(252, 85, 70, 0.5);
}

.featuer-item:hover .content h4 a,
.featuer-item:hover .content p,
.featuer-item:hover .content .read-more {
    color: white;
}

.featuer-item.style-two {
    padding-bottom: 0;
}

.featuer-item.style-two .image {
    position: relative;
}

.featuer-item.style-two .image:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(11, 12, 12, 0) 0%, #0B0C0C 100%);
    background: -o-linear-gradient(top, rgba(11, 12, 12, 0) 0%, #0B0C0C 100%);
    background: linear-gradient(180deg, rgba(11, 12, 12, 0) 0%, #0B0C0C 100%);
}

.featuer-item.style-two .content {
    left: 0;
    z-index: 2;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left;
    padding: 40px 60px;
    background: transparent;
}

@media only screen and (max-width: 1599px) {
    .featuer-item.style-two .content {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 375px) {
    .featuer-item.style-two .content {
        padding: 20px 25px;
    }
}

.featuer-item.style-two .content .tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-right: -10px;
}

.featuer-item.style-two .content .tags a {
    color: white;
    font-weight: 500;
    padding: 2px 14px;
    margin: 0 10px 10px 0;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 375px) {
    .featuer-item.style-two .content .tags a {
        font-size: 14px;
        padding: 1px 12px;
    }
}

.featuer-item.style-two .content .title {
    font-weight: 600;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1599px) {
    .featuer-item.style-two .content .title {
        font-size: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .featuer-item.style-two .content .title {
        font-size: 28px;
    }
}

@media only screen and (max-width: 375px) {
    .featuer-item.style-two .content .title {
        font-size: 25px;
    }
}

.featuer-item.style-two .content .title a {
    color: white;
}

.title a {
    color: #021433
}

.title.white-text a {
    color: #fff
}

.featuer-item.style-two .content p {
    color: white;
    margin-bottom: 28px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .featuer-item.style-two .content p {
        display: none;
    }
}

@media only screen and (max-width: 479px) {
    .featuer-item.style-two .content p {
        display: none;
    }
}


/*******************************************************/


/******************** ## Blog Area ********************/


/*******************************************************/

.blog-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.blog-meta li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.5;
    margin-bottom: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.blog-meta li a:hover {
    color: #FBC531;
}

.blog-meta li:first-child a {
    font-weight: 600;
    color: #FBC531;
}

.blog-meta li:nth-child(2) a {
    font-weight: 400;
    color: #fff;
}

.blog-meta li:not(:last-child):after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    background: var(--tekprof-border-color);
}

.blog-meta-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.blog-meta-two li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.blog-meta-two li i {
    margin-right: 7px;
}

.blog-meta-two li a:hover {
    color: #FBC531;
}

.blog-meta-two li:not(:last-child) {
    margin-right: 70px;
}

.blog-item {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 130px;
}

@media only screen and (max-width: 375px) {
    .blog-item {
        padding-bottom: 155px;
    }
}

.blog-item .image img {
    width: 100%;
}

.blog-item .image.product img {
    width: unset;
}

.image.product {
    min-height: 380px;
    text-align: center;
    align-content: center;
}

.blog-item .content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 28px;
    background: #021433;
}

.blog-item .content.white {
    background: #fff;
}

.blog-item .content .blog-meta {
    justify-content: space-between;
    margin-bottom: 5px;
}

.blog-item .content .title {
    margin-bottom: 0;
}

@media only screen and (max-width: 375px) {
    .blog-item .content .title {
        font-size: 22px;
    }
}

.blog-item .content p {
    margin-top: 15px;
    margin-bottom: 26px;
}


/* Blog Item Two */

.blog-item-two {
    margin-bottom: 30px;
}

.blog-item-two .image img {
    width: 100%;
}

.blog-item-two .content {
    padding: 20px 26px 32px;
    -webkit-box-shadow: 10px 4px 60px rgba(173, 173, 173, 0.2);
    box-shadow: 10px 4px 60px rgba(173, 173, 173, 0.2);
}

@media only screen and (max-width: 375px) {
    .blog-item-two .content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.blog-item-two .content .blog-meta {
    margin-bottom: 8px;
}

.blog-item-two .content .title a:hover {
    color: var(--tekprof-heading-color);
    text-decoration: underline;
}

.blog-item-two .content .read-more:hover {
    color: var(--tekprof-heading-color);
}

.admin-info {
    margin-top: 16px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.admin-info .image {
    margin-right: 10px;
}

.admin-info .image img {
    border-radius: 50%;
}

.admin-info .name a {
    font-weight: 600;
    color: var(--tekprof-heading-color);
}


/* Blog Item Three */

.blog-three-left-content {
    max-width: 360px;
}

.blog-item-three {
    margin-bottom: 30px;
}

@media only screen and (max-width: 991px) {
    .blog-item-three .image {
        margin-bottom: 20px;
    }
}

.blog-item-three .image img {
    width: 100%;
}

.blog-item-three .title {
    margin-bottom: 15px;
}

.blog-item-three .theme-btn {
    margin-top: 15px;
    color: var(--tekprof-base-color);
    background: transparent;
    border: 1px solid var(--tekprof-border-color);
}

.blog-item-three .theme-btn.btn-small {
    padding: 5px 27px;
}

.blog-item-three .theme-btn:hover {
    color: white;
    background: #FBC531;
    border-color: transparent;
}


/* Blog Standard */

.blog-standard-item:not(:last-child) {
    margin-bottom: 50px;
}

.blog-standard-item .blog-meta-two {
    padding-top: 27px;
    padding-bottom: 13px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--tekprof-border-color);
}

.blog-standard-item h3 {
    margin-bottom: 10px;
}

@media only screen and (max-width: 1199px) {
    .blog-standard-item h3 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 575px) {
    .blog-standard-item h3 {
        font-size: 26px;
    }
}

@media only screen and (max-width: 479px) {
    .blog-standard-item h3 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 375px) {
    .blog-standard-item h3 {
        font-size: 18px;
    }
}

.blog-standard-item .blog-read-more {
    font-size: 14px;
    font-weight: 600;
    color: var(--tekprof-base-color);
    padding: 4px 26px;
    margin-top: 14px;
    display: inline-block;
    border: 1px solid var(--tekprof-border-color);
}

.blog-standard-item .blog-read-more:hover {
    color: white;
    background: #FBC531;
    border-color: #FBC531;
}

.blog-sidebar {
    max-width: 350px;
}


/* Blog Details */

.blog-details-image img {
    width: 100%;
}

.blog-details-content h3 {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1199px) {
    .blog-details-content h3 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .blog-details-content h3 {
        font-size: 26px;
    }
}

.blog-details-content h4 {
    margin-top: 35px;
    margin-bottom: 15px;
}

.blog-details-content h5 {
    margin-top: 22px;
    margin-bottom: 12px;
}

blockquote {
    line-height: 1.48;
    letter-spacing: -0.02em;
    background: #FAF8F6;
    padding: 35px 70px 30px;
}

@media only screen and (min-width: 1200px) {
    blockquote {
        font-size: 27px;
    }
}

@media only screen and (max-width: 767px) {
    blockquote {
        font-size: 22px;
        padding-right: 20px;
        padding-left: 35px;
    }
}

@media only screen and (max-width: 575px) {
    blockquote {
        font-size: 20px;
    }
}

@media only screen and (max-width: 479px) {
    blockquote {
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

blockquote .blockquote-footer {
    margin-bottom: 0;
    margin-top: 25px;
    font-size: 0.75em;
    color: var(--tekprof-base-color);
}

blockquote .blockquote-footer:before {
    content: '————';
    margin-right: 18px;
    letter-spacing: -4px;
}

.tag-share {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.tag-share .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.tag-share .item h6 {
    font-size: 18px;
    margin-right: 20px;
}


/* Next Prev Blog */

.next-prev-blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.next-prev-blog .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 330px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.next-prev-blog .item .image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    max-width: 100px;
    margin-right: 30px;
}

@media only screen and (max-width: 375px) {
    .next-prev-blog .item .image {
        max-width: 75px;
        margin-right: 20px;
    }
}

.next-prev-blog .item h5 {
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: 2px;
}

@media only screen and (max-width: 375px) {
    .next-prev-blog .item h5 {
        font-size: 16px;
    }
}

.next-prev-blog .item .date {
    display: block;
}


/*******************************************************/


/****************** ## Services Area *******************/


/*******************************************************/

.service-item {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 110px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 767px) {
    .service-item {
        padding-bottom: 90px;
    }
}

.service-item .image img {
    width: 100%;
}

.service-item .content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 28px;
    background: var(--tekprof-blue-color);
}

.service-item .content .title {
    margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
    .service-item .content .title {
        font-size: 20px;
    }
}

.service-item .content .title {
    color: white;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.service-item .content .title i {
    float: left;
    font-size: 2em;
    line-height: 1;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-right: 25px;
    margin-bottom: -5px;
}

@media only screen and (max-width: 767px) {
    .service-item .content .title i {
        margin-right: 15px;
    }
}

.service-item .content p {
    margin-top: -8px;
    color: rgba(255, 255, 255, 0.65);
}

.service-item .content .read-more {
    color: white;
    margin-top: 8px;
    margin-bottom: 30px;
}

.service-item:hover .content .title {
    text-decoration: underline;
    color: #FBC531;
}

.service-item-two {
    text-align: center;
    margin-bottom: 30px;
    padding: 35px 15px 25px;
    background: var(--tekprof-lighter-color);
    border: 1px solid var(--tekprof-border-color);
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .service-item-two {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.service-item-two .icon {
    line-height: 1;
    font-size: 58px;
    margin-bottom: 12px;
    color: #FBC531;
}

.service-video-part img {
    width: 100%;
}

.service-video-part .content {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 30px 30px 20px;
    max-width: 270px;
    background: #FBC531;
}

@media only screen and (max-width: 375px) {
    .service-video-part .content {
        max-width: 220px;
        padding: 15px 15px 10px;
    }
}

.service-video-part .content .video-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 375px) {
    .service-video-part .content .video-wrap {
        margin-bottom: 12px;
        padding-bottom: 14px;
    }
}

.service-video-part .content .video-wrap span {
    color: white;
    font-weight: 600;
    margin-left: 15px;
}

.service-video-part .content h5 {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.hover-content .inner-content {
    display: none;
}

.inner-content p {
    text-align: justify;
}


/* Service Accordion Style */

.services-wrap {
    border-top: 1px solid var(--tekprof-border-color);
}

.services-wrap.style-two {
    border-top: 0;
}

.service-accordion .accordion-item {
    border: 1px solid var(--tekprof-border-color);
}

.service-accordion .accordion-item .accordion-header .accordion-button {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: var(--tekprof-base-color);
    padding: 20px 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
}

@media only screen and (max-width: 991px) {
    .service-accordion .accordion-item .accordion-header .accordion-button {
        padding: 15px 25px;
    }
}

.service-accordion .accordion-item .accordion-header .accordion-button .step {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-right: 5.6%;
    font-weight: 500;
}

@media only screen and (max-width: 767px) {
    .service-accordion .accordion-item .accordion-header .accordion-button .step {
        font-size: 14px;
    }
}

@media only screen and (max-width: 575px) {
    .service-accordion .accordion-item .accordion-header .accordion-button .step {
        display: none;
    }
}

.service-accordion .accordion-item .accordion-header .accordion-button .title {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media only screen and (max-width: 767px) {
    .service-accordion .accordion-item .accordion-header .accordion-button .title {
        font-size: 20px;
    }
}

@media only screen and (max-width: 375px) {
    .service-accordion .accordion-item .accordion-header .accordion-button .title {
        font-size: 18px;
        line-height: 1.2;
    }
}

.service-accordion .accordion-item .accordion-header .accordion-button .icon {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-left: auto;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.service-accordion .accordion-item .accordion-header .accordion-button:after {
    display: none;
}

.service-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) .icon {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.service-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) .icon.first {
    display: none;
}

.service-accordion .accordion-item .accordion-header .accordion-button.collapsed .icon.second {
    display: none;
}

.service-accordion .accordion-item .accordion-body {
    padding: 0 45px 50px;
}

@media only screen and (max-width: 991px) {
    .service-accordion .accordion-item .accordion-body {
        padding: 0 25px 30px;
    }
}

@media only screen and (max-width: 767px) {
    .service-accordion .accordion-item .accordion-body {
        margin-left: 0;
    }
}

@media only screen and (max-width: 991px) {
    .service-accordion .accordion-item .accordion-body .image {
        margin-bottom: 20px;
    }
}

.service-accordion .accordion-item .accordion-body .content {
    max-width: 300px;
}

.service-accordion .accordion-item .accordion-body .content .read-more {
    color: #FBC531;
    text-decoration: underline;
}

.service-accordion .accordion-item:not(:last-child) {
    border-bottom: 0;
}


/*******************************************************/


/******************* ## Main Footer *******************/


/*******************************************************/

.main-footer {
    color: rgba(255, 255, 255, 0.65);
}

.footer-top {
    z-index: 1;
    position: relative;
    margin-bottom: -40px;
    -webkit-transform: translateY(-120px);
    -ms-transform: translateY(-120px);
    transform: translateY(-120px);
}

@media only screen and (max-width: 375px) {
    .footer-top {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

.footer-top:before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(252, 85, 70, 0.9);
}

@media only screen and (min-width: 1400px) {
    .cta-right-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
    }
}

.cta-right-content .mail-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media only screen and (min-width: 1400px) {
    .cta-right-content .mail-info {
        margin-left: 30px;
    }
}

.cta-right-content .mail-info .icon {
    color: white;
    width: 60px;
    height: 60px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    font-size: 22px;
    text-align: center;
    line-height: 58px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 20px;
}

@media only screen and (max-width: 375px) {
    .cta-right-content .mail-info .icon {
        width: 45px;
        height: 45px;
        font-size: 20px;
        line-height: 43px;
        margin-right: 15px;
    }
}

.cta-right-content .mail-info .content {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.cta-right-content .mail-info .content a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    display: inline-block;
}


/* Support and Join Area - Home Two Footer */

.support-join-area {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
}

@media only screen and (max-width: 991px) {
    .support-join-area {
        padding-top: 40px;
        padding-bottom: 50px;
    }
}

.support-join-area::after {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}

@media only screen and (min-width: 992px) {
    .support-join-area::after {
        content: '';
    }
}

.footer-top-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 575px;
    padding-top: 80px;
    padding-bottom: 65px;
}

@media only screen and (max-width: 991px) {
    .footer-top-item {
        padding-top: 30px;
        padding-bottom: 0;
    }
}

.footer-top-item .content {
    max-width: 370px;
    margin-right: 20px;
}

.footer-top-item .icon {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 50px;
    height: 50px;
    color: white;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    line-height: 50px;
    text-align: center;
    margin-left: auto;
    border-radius: 50%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-top-item .icon:hover {
    color: white;
    background: #FBC531;
    border-color: #FBC531;
}

@media only screen and (max-width: 767px) {
    .footer-top-item .icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

.footer-widget {
    margin-bottom: 50px;
}

.footer-title {
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 1.7;
}

.info-item .icon {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    color: white;
    font-size: 18px;
    margin-top: 3px;
    margin-right: 26px;
}

.info-item a {
    color: white;
    font-size: 16px;
}

.footer-links ul li:not(:last-child) {
    margin-bottom: 9px;
}

.footer-links ul li a {
    position: relative;
}

.footer-links ul li a i {
    left: 0;
    top: 3px;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-right: 7px;
    position: absolute;
}

.footer-links ul li a:hover {
    color: white;
    padding-left: 16px;
    text-decoration: underline;
}

.footer-links ul li a:hover i {
    opacity: 1;
}

@media only screen and (min-width: 376px) {
    .footer-links ul.two-column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .footer-links ul.two-column li {
        width: 47%;
    }
}

.newsletter-form {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.newsletter-form input {
    border: 0;
    color: white;
    font-size: 14px;
    font-weight: 400;
    background: transparent;
    padding: 5px 5px 5px 15px;
}

.newsletter-form input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.65);
}

.newsletter-form input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.65);
}

.newsletter-form input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.65);
}

.newsletter-form input::placeholder {
    color: rgba(255, 255, 255, 0.65);
}

.newsletter-form button {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    color: white;
    line-height: 44px;
    width: 45px;
    height: 45px;
    background: #FBC531;
}


/* Footer Bottom */

.footer-bottom {
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom .copyright-text a {
    color: white;
}

.footer-bottom .scroll-top {
    top: -27px;
    position: absolute;
    left: calc(50% - 27px);
}

@media only screen and (max-width: 1199px) {
    .footer-bottom .scroll-top {
        width: 40px;
        height: 40px;
        top: -20px;
        font-size: 15px;
        line-height: 40px;
        left: calc(50% - 20px);
    }
}

.footer-bottom.style-two {
    border-top: 0;
}

.footer-bottom-nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: -15px;
    margin-right: -15px;
}

.footer-bottom-nav li {
    margin: 0 15px 5px;
}

.footer-bottom-nav li a {
    color: rgba(255, 255, 255, 0.65);
}

.footer-bottom-nav li a i {
    margin-right: 10px;
}

.footer-bottom-nav li a:hover {
    color: white;
}

.details-btn {
    color: white;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 50px;
    height: 50px;
    background: #FBC531;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
}

.details-btn:hover {
    color: white;
}